<div class="dashboard-menu">
  <div class="row">
    <div class="col-lg-4">
      <div class="projectMenu">
        <ul>
          <li>
            <div class="projectSec">
              <div class="title-menu">
                <span><button type="button" class="btn activeBtn">Active</button></span>
                <h3> - Project Status</h3>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="projectMenu">
                    <h3><span class="IconCart"><i class="icon fa fa-caret-down"></i></span><%= @project_status_group['Active'].count %><span>Projects</span></h3>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="projectMenu">
                    <h3><span class="IconCart bgGreen"><i class="icon fa fa-caret-up"></i></span>
											$<%= @project_status_group['Active'].pluck('wages').sum %><span>wages</span>
										</h3>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="projectMenu">
                    <h3><span class="IconCart bgGreen"><i class="icon fa fa-caret-up"></i></span>
											<%= @project_status_group['Active'].pluck('new_jobs').sum %><span>Jobs</span>
										</h3>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="projectMenu">
                    <h3><span class="IconCart"><i class="icon fa fa-caret-down"></i></span>
											$<%= @project_status_group['Active'].pluck('net_new_investment').sum %><span>Investment</span>
										</h3>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="projectSec">
              <div class="title-menu">
                <span><button type="button" class="btn activeBtn primary">Preliminary</button></span>
                <h3> - Project Status</h3>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="projectMenu">
                    <h3><span class="IconCart"><i class="icon fa fa-caret-down"></i></span>5<span>Projects</span></h3>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="projectMenu">
                    <h3><span class="IconCart bgGreen"><i class="icon fa fa-caret-up"></i></span>
											$<%= @project_status_group['Preliminary'].pluck('wages').sum %><span>wages</span>
										</h3>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="projectMenu">
                    <h3><span class="IconCart bgGreen"><i class="icon fa fa-caret-up"></i></span>
											<%= @project_status_group['Preliminary'].pluck('new_jobs').sum %><span>Jobs</span>
										</h3>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="projectMenu">
                    <h3><span class="IconCart"><i class="icon fa fa-caret-down"></i></span>
											$<%= @project_status_group['Preliminary'].pluck('net_new_investment').sum %><span>Investment</span>
										</h3>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card cardPadding">
        <div class="form-row">
          <div class="col">
            <div class="title-menu">
              <span><button type="button" class="btn activeBtn">Monthly <i class="icon fa fa-caret-down"></i></button></span>
              <h3> - Activity Report</h3>
            </div>
          </div>
          <div class="col-auto">
            <div class="viewReport">
              <ul>
                <li class="viewItem"><span class="priorityDot"></span>Attraction</li>
                <li class="viewItem"><span class="priorityDot dotHigh"></span> Retention/Expansion </li>
                <li class="viewItem viewlink"><span class="priorityDot dotHigh"></span>Combined </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-row">
          <%= render partial: 'activity_report', locals: {results: @results} %>
        </div>
        <div class="botmheading">View Report</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card cardPadding">
        <div class="title-menu">
          <h3>Attraction - Industry type</h3>
        </div>
        <div class="cardImg"><img src="assets/prospect.jpg"></div>
        <div class="botmheading">View Report</div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card cardPadding">

				<div class="form-row">
					<div class="col">
						<div class="title-menu">
							<%= select_tag :project_id, options_for_select(load_data_with_id(@projects)), include_blank: 'All Projects' ,
														 class: 'form-control custom-select', id: 'dashboard_task_by_project' %>
              <h3> - Filter by Project</h3>
						</div>
					</div>
					<div class="col-auto">
						<div class="viewTaskReport viewReport">
							<ul>
								<li class="viewItem viewlink"><span class="priorityDot"></span> All Tasks</li>
								<li class="viewItem"><span class="priorityDot dotHigh"></span> My Tasks</li>
							</ul>
						</div>
					</div>
				</div>

        <!-- Panel Filtering rows -->
        <table class="table tableCustomStyle table-hover removeTblSearch" id="dashboardTasks" data-paging="true" data-filtering="true" >
					<%= render partial: 'tasks', locals: {tasks: @tasks} %>
        </table>
        <div class="botmheading">
					<%= link_to 'View All', tasks_path %>
				</div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  $(document).ready(function ($) {

    function loadProspectsByIndustryType() {
      var data = {
        series: <%=raw get_associated_types_total(@results, 'industry_type_id') %>
      };
      loadProspectsByDifferentType(data, '#prospectsByIndustryTypeBar');
    }

    function loadProspectsByDifferentType(data, selector) {

      var sum = function (a, b) {
        return a + b.value
      };

      new Chartist.Pie(selector, data, {
        labelInterpolationFnc: function (value, idx) {
          return Math.round(value / data.series.reduce(sum, 0) * 100) + '%';
        },
        plugins: [Chartist.plugins.tooltip()]
      });
    }

  })
</script>