<!-- Security Roles Modal -->
<div class="modal fade" id='securityRolesFormCenter' aria-hidden="true" aria-labelledby='securityRolesFormCenter'
  role="dialog" tabindex="-1">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <%= form_for @security_role, remote: true do |type| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">SECURITY ROLE INFORMATION</h4>
        </div>
        <div class="modal-body">
          <div class="example-wrap">
            <div class="error-messages"></div>
            <div class="example">
              <div class="row">
                <div class="form-group col-md-6 offset-md-3">
                  <label class="form-control-label">Name:</label>
                  <%= type.text_field :name, class: "form-control", placeholder: "Role Name" %>
                </div>
              </div>
              <div class="col-md-12 table-responsive">
                <div class="row">
                  <h5 class="modal-title">Features:</h5>
                  <%= render partial: 'module_fields', locals: { type: type, modules: current_org.enabled_modules } %>
                </div>
                <div class="row">
                  <h5 class="modal-title">Custom Features:</h5>
                  <%= render partial: 'module_fields', locals: { type: type, modules: current_org.custom_modules } %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="form-group form-material col-md-6">
                  <button type="submit" class="btn btn-sm green-btn"><%= @security_role.new_record? ? ' Save ' : ' Save changes' %></button>
                  <button type="button" class="btn btn-sm white-btn" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- End Modal -->