<!-- Security Roles Modal -->
<div class="modal fade" id='securityRolesFormCenter' aria-hidden="true" aria-labelledby='securityRolesFormCenter'
  role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= form_for @security_role, remote: true do |type| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h6 class="modal-title">SECURITY ROLE INFORMATION</h6>
        </div>
        <div class="modal-body">
          <div class="example-wrap">
            <div class="error-messages"></div>
            <div class="example">
              <div class="row">
                <div class="form-group form-material col-md-4 offset-md-4">
                  <label class="form-control-label">Name:</label>
                  <%= type.text_field :name, class: "form-control" %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 table-responsive">
                  <table class="table table-striped table-hover designTable" id="rolesTable">
                    <thead>
                      <th>Entity</th>
                      <th>Read</th>
                      <th>Create</th>
                      <th>Update</th>
                      <th>Delete</th>
                      <th>Assign</th>
                    </thead>
                    <tr>
                      <td>Projects</td>
                      <%= type.fields_for :projects do |project| %>
                        <% SecurityRole::PERMISSIONS.each do |permission_type| %>
                          <td>
                            <%= project.select permission_type.to_sym,options_for_select(["None","All"], type.object.projects[permission_type] ), {}, class: 'form-control', data: { plugin: "selectpicker" } %>
                          </td>
                        <% end %>
                      <% end %>
                    </tr>
                    <tr>
                      <td>Users</td>
                      <%= type.fields_for :users do |user| %>
                        <% SecurityRole::PERMISSIONS.each do |permission_type| %>
                          <td>
                            <%= user.select permission_type.to_sym,options_for_select(["None","All"], type.object.users[permission_type]), {}, class: 'form-control', data: { plugin: "selectpicker" } %>
                          </td>
                        <% end %>
                      <% end %>
                    </tr>
                    <tr>
                      <td>Configuration</td>
                      <%= type.fields_for :configuration do |config| %>
                        <% SecurityRole::PERMISSIONS.each do |permission_type| %>
                          <td>
                            <%= config.select permission_type.to_sym,options_for_select(["None","All"], type.object.configuration[permission_type]), {}, class: 'form-control', data: { plugin: "selectpicker" } %>
                          </td>
                        <% end %>
                      <% end %>
                    </tr>
                    <tr>
                      <td>Sites</td>
                      <%= type.fields_for :sites do |site| %>
                        <% SecurityRole::PERMISSIONS.each do |permission_type| %>
                          <td>
                            <%= site.select permission_type.to_sym,options_for_select(["None","All"], type.object.sites[permission_type]), {}, class: 'form-control', data: { plugin: "selectpicker" } %>
                          </td>
                        <% end %>
                      <% end %>
                    </tr>
                    <tr>
                      <td>Contacts</td>
                      <%= type.fields_for :contacts do |contact| %>
                        <% SecurityRole::PERMISSIONS.each do |permission_type| %>
                          <td>
                            <%= contact.select permission_type.to_sym,options_for_select(["None","All"], type.object.contacts[permission_type]), {}, class: 'form-control', data: { plugin: "selectpicker" } %>
                          </td>
                        <% end %>
                      <% end %>
                    </tr>
                    <tr>
                      <td>Companies</td>
                      <%= type.fields_for :companies do |company| %>
                        <% SecurityRole::PERMISSIONS.each do |permission_type| %>
                          <td>
                            <%= company.select permission_type.to_sym,options_for_select(["None","All"], type.object.companies[permission_type]), {}, class: 'form-control', data: { plugin: "selectpicker" } %>
                          </td>
                        <% end %>
                      <% end %>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="form-group form-material col-md-6">
                  <button type="submit" class="btn btn-sm green-btn"><%= @security_role.new_record? ? ' Save ' : ' Save changes' %></button>
                  <button type="button" class="btn btn-sm white-btn" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- End Modal -->