<table class="table footable table tableCustomStyle table-hover removeTblSearch bodrTop" id="userLists" data-empty="There are no users." data-show-toggle="true">
  <thead>
    <tr>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @security_roles.each do |security_role| %>
      <tr>
        <td><%= security_role.name %></td>
        <td>
          <div class="openLeft moreOptions dropdown">
            <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button">
              <i class="icon md-more-vert" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item clickable" data-href="<%= edit_security_role_path(security_role) %>" role="menuitem"><i class="icon md-edit" aria-hidden="true"></i> Edit</a>
              <a class="dropdown-item <%= delete_option_class(security_role) %>" <%= delete_method_data_string(security_role) %> role="menuitem"><i class="icon md-delete" aria-hidden="true"></i> Delete</a>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render partial: "alert_popup" %>

<div class="digg_pagination">
  <%= js_will_paginate @security_roles, container: false %>
</div>

<script>
  $('.footable').footable();
</script>