<table class="table tableCustomStyle tableImg table-hover removeTblSearch bodrTop footable footable-6 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg" id="companyProjectsList" data-toggle-column="first" data-empty="There are no projects" data-show-toggle="true">
  <thead>
    <tr>
      <th>PROJECT#</th>
      <th>PROJECT NAME</th>
    </tr>
  </thead>
  <tbody>
    <% @company_projects.each do |project| %>
      <tr>
        <td><a class="custom-href" href="<%= edit_project_path(project) %>" data-turbolinks="false"><%= project.project_number %></td>
        <td><a class="custom-href" href="<%= edit_project_path(project) %>" data-turbolinks="false"><%= project.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= js_will_paginate @company_projects %>
</div>

<script>
  $('.footable').footable();
</script>