<table class="table table-hover dataTable table-striped w-full" >
  <thead>
    <tr>
      <th>TASK</th>
      <th>PRIORITY</th>
      <th>PROJECT</th>
      <th>DESCRIPTION</th>
      <th>STATUS</th>
      <th>COMPLETE</th>
      <th>ASSIGNED TO</th>
      <th>ASSIGNED BY</th>
      <th>DUE DATE</th>
    </tr>
  </thead>
  <tbody>
  <% for task in tasks %>
      <tr data-href="<%= task_path(task) %>" class="clickable" >
        <td><%= task.name %></td>
        <td><%= task.priority %></td>
        <td><%= task.project_id ? task.project.name : "" %></td>
        <td><%= task.description.truncate(25) %></td>
        <td><%= task.status %></td>
        <td><%= task.progress %> %</td>
        <td><%= task.assignee.full_name %></td>
        <td><%= task.user.full_name %></td>
        <td><%= task.end_date.strftime("%m/%d/%Y") if task.end_date.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= js_will_paginate tasks %>
</div>