<table class="table table-striped table-hover toggle-circle footable tableCustomStyle" data-toggle-column="first" data-empty="There are no tasks." data-show-toggle="true" >
  <thead>
    <tr>
      <th data-breakpoints="xs sm">TASK</th>
      <th data-breakpoints="xs sm">PRIORITY</th>
      <th>PROJECT/ACTIVITY</th>
      <th data-breakpoints="xs sm md">DESCRIPTION</th>
      <th>STATUS</th>
      <th data-breakpoints="xs sm md">COMPLETE</th>
      <th>ASSIGNED TO</th>
      <th data-breakpoints="xs sm md">START DATE</th>
      <th data-breakpoints="xs sm md">DUE DATE</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% for task in tasks %>
      <tr>
        <td><a class="clickable" data-href="<%= task_path(task) %>"><%= task.name %></a></td>
        <td><a class="clickable" data-href="<%= task_path(task) %>"><span class="priorityDot <%= priority_class(task.priority) %>"></span><%= task.priority %></a></td>
        <td><a class="clickable" data-href="<%= task_path(task) %>"><%= task.taskable_id ? task.taskable.name : "" %></a></td>
        <td><a class="clickable" data-href="<%= task_path(task) %>"><span class="nowrapCol"><%= task.description %></span></a></td>
        <td><a class="clickable" data-href="<%= task_path(task) %>"><%= task.status %></a></td>
        <td><a class="clickable" data-href="<%= task_path(task) %>"><%= task.progress %> %</a></td>
        <td><a class="clickable" data-href="<%= task_path(task) %>"><%= task.assignee.try(:full_name) %></a></td>
        <td><a class="clickable" data-href="<%= task_path(task) %>"><%= task.start_date.strftime("%m/%d/%Y") if task.start_date.present? %></a></td>
        <td><a class="clickable" data-href="<%= task_path(task) %>"><%= task.end_date.strftime("%m/%d/%Y") if task.end_date.present? %></a></td>
        <td>
          <div class="openLeft moreOptions dropdown">
            <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button">
              <i class="icon md-more-vert" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item clickable" data-href="<%= task_path(task) %>" role="menuitem"><i class="icon md-edit" aria-hidden="true"></i> Edit</a>
              <a class="dropdown-item delete-option" data-href="<%= task_path(task) %>" role="menuitem"><i class="icon md-delete" aria-hidden="true"></i> Delete</a>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= js_will_paginate tasks, container: false %>
</div>

<script>
  $('.footable').footable();
</script>