<div class="row tasksNavs mb-30">
  <div class="col-lg-12">
    <ul class="nav nav-pills">
      <li class="nav-item" id="all_tasks_filter">
        <a class="nav-link active" data-href="/tasks" >All Tasks</a>
      </li>
      <li class="nav-item" id="current_user_filter">
        <a class="nav-link" data-href="<%= tasks_path%>" >My Tasks</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-3">
                  <%= select_tag :task_filter_by_project, options_for_select(current_org.projects.all.map{ |project| [project.name, project.id] }), include_blank: 'All Projects' , class: 'form-control', data: { plugin: "selectpicker" } %>
                </div>
                <div class="col-md-3 assign-filter" hidden="true" >
                  <%= select_tag :assign, options_for_select(["Assigned To Me","Assigned By Me"]), class: 'form-control', data: { plugin: "selectpicker" } %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-sm green-btn waves-effect waves-classic clickable" data-href="<%= new_task_path %>" type="button">ADD NEW TASK
              </button>
            </div>
          </div>
        </h3>
      </header>
      <div class="panel-body" id="tasksList">
        <%= render :partial => 'tasks', locals: {tasks: @tasks} %>
      </div>
    </div>
  </div>
</div>

<div id="createOrEditTask"></div>
