<div class="tasksNavs mb-20">
  <ul class="nav tasksNav">
    <li class="nav-item" id="all_tasks_filter">
      <a class="nav-link active" data-href="/tasks">All Tasks</a>
    </li>
    <li class="nav-item" id="current_user_filter">
      <a class="nav-link" data-href="<%= tasks_path%>">My Tasks</a>
    </li>
  </ul>
</div>


<div class="row">
  <div class="col-xl-12">
    <div class="panel">
      <header class="panel-heading">
        <div class="tasksTopOptions">
          <div class="row">
            <div class="col">
              <div class="tasksSelectFilter">
                <%= select_tag :task_filter_by_project, options_for_select(load_data_with_id(current_org.projects)), include_blank: 'All Projects' , class: 'form-control custom-select' %>
              </div>
              <div class="tasksSelectFilter assign-filter" hidden="true" >
                <%= select_tag :assign, options_for_select(["Assigned To Me","Assigned By Me"]), class: 'form-control custom-select' %>
              </div>
            </div>
            <div class="col col-auto">
              <div class="tasksRightOptions">
                <ul>
                  <li><a class="btn btn-default clickable" data-href="<%= new_task_path %>"><i class="icon fa fa-plus btnIcon" aria-hidden="true"></i> Add New Task</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="panel-body" id="tasksList">
        <%= render :partial => 'tasks', locals: {tasks: @tasks} %>
      </div>
    </div>
  </div>
</div>

<div id="createOrEditTask"></div>
