<div class="panel">

  <div class="panel-body">
    <%= form_for @transactional_email, remote: true do |f| %>

      <div class="row">
        <div class="form-group col-md-4">
          <label id="inputActvityName">Name:</label>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group col-md-8">
          <%= f.label :subject %><br>
          <%= f.text_field :subject, class: "form-control", required: true %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <%= f.label :body %><br>
          <%= f.text_area :body, class: "form-control tinymce", required: true %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <label class="form-control-label">Sent To:</label>
          <%= email_field_tag :send_to, nil, class: 'form-control' %>
          <small>For testing put an email and press TEST button.</small>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" name="commit" value="Test">Test</button>
        <button type="submit" class="btn btn-primary" name="commit" value="Save">
          <%= @transactional_email.new_record? ? "Save" : "Update" %>
        </button>
        <%= link_to 'Cancel', transactional_emails_path, class: "btn btn-outline-primary", data: {turbolinks: false} %>
      </div>

    <% end %>
  </div>
</div>
<%= tinymce %>