<div class="panel panel-bordered">
  <% @categories.each do |category| %>
    <div class="panel-heading" data-toggle="collapse" href='#cateogry_<%= category.id %>'
    aria-expanded="false">
      <h3 class="panel-title"><%= category.name %><i class="fa fa-caret-down pull-right" aria-hidden="true"></i> </h3>
    </div>
    <div class="collapse" id='cateogry_<%= category.id %>'>
      <div class="panel-body">
        <% subcategories = category.subcategories %>
        <% if subcategories.first.body.blank? %>
          <% subcategories.each do |subcategory| %>
            <div class="tableTitle">
              <h2><%= subcategory.name %></h2>
            </div>
            <% emails = subcategory.subcategories %>
            <%= render partial: 'transactional_emails', locals: { transactional_emails: emails} %>
          <% end %>
        <% else %>
          <%= render partial: 'transactional_emails', locals: { transactional_emails: subcategories} %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>