<table class="table tableCustomStyle tableImg table-hover removeTblSearch bodrTop footable footable-6 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg" data-toggle-column="first" data-empty="There are no contacts" data-show-toggle="true" >
  <thead>
    <tr>
      <th>NAME</th>
      <th data-breakpoints="xs">ORGANIZATION</th>
      <th data-breakpoints="xs">PHONE</th>
      <th data-breakpoints="xs">EMAIL</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% for contact in contacts %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.organization ? contact.organization.name : '' %></td>
        <td><%= contact.cell_phone %></td>
        <td><%= contact.email %></td>
        <td>
          <div class="openLeft moreOptions dropdown">
            <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button">
              <i class="icon md-more-vert" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item clickable" data-href="<%= company_contact_path(@company, contact) %>" role="menuitem"><i class="icon md-edit" aria-hidden="true"></i> Edit</a>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= js_will_paginate contacts %>
</div>

<script>
  $('.footable').footable();
</script>