<table class="table tableCustomStyle tableImg table-hover removeTblSearch bodrTop footable footable-6 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg" data-toggle-column="first" data-empty="There are no contacts" data-show-toggle="true" >
  <thead>
    <tr>
      <th>NAME</th>
      <th data-breakpoints="xs">ORGANIZATION</th>
      <th data-breakpoints="xs">PHONE</th>
      <th data-breakpoints="xs">EMAIL</th>
      <th data-breakpoints="xs">OPERATIONS</th>
    </tr>
  </thead>

  <tbody>
    <% for contact in contacts %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.organization ? contact.organization.name : '' %></td>
        <td><%= contact.cell_phone %></td>
        <td><%= contact.email %></td>
        <td>
          <button class="clickable btn btn-primary" data-href="<%= company_contact_path(@company, contact) %>">Edit</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= js_will_paginate contacts %>
</div>

<script>
  $('.footable').footable();
</script>