<table class="table table-striped table-hover toggle-circle footable" data-toggle-column="first" data-empty="There are no sites/buildings." data-show-toggle="true" id="existingSitesTable">
  <thead>
    <tr>
      <th data-breakpoints="xs">PROPERTY #</th>
      <th>NAME</th>
      <th data-breakpoints="xs">ZIP</th>
      <th>Operations</th> 
    </tr>
  </thead>

  <tbody>
    <% for site in sites %>
      <tr>
        <td><%= site.property_number %></td>
        <td><%= site.property_name %></td>
        <td><%= site.zip_code %></td>
        <td><%= button_to "Add To Project",attach_site_to_project_project_site_path(@project, site), remote: true, data: { confirm: "Are you sure you want to add this site to project?" }, class: "btn btn-sm green-btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<div class="digg_pagination">
  <%= js_will_paginate sites %>
</div>
<br/>

<script>
  $('.footable').footable();
</script>