<table class="table tableCustomStyle tableImg table-hover removeTblSearch bodrTop footable footable-6 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg" data-toggle-column="first" data-empty="There are no tasks." data-show-toggle="true" >
  <thead>
    <tr>
      <th data-name="task" data-breakpoints="xs sm" class="footable-first-visible">Task</th>
      <th data-name="priority" data-breakpoints="xs sm">Priority</th>
      <th data-name="status">Status</th>
      <th data-name="complete" data-breakpoints="xs sm md">Complete</th>
      <th data-name="assignedTo">Assigned To</th>
      <th data-name="description" data-breakpoints="xs sm md">Description</th>
      <th data-breakpoints="xs">Start date</th>
      <th data-name="sDate" data-breakpoints="xs sm md" class="footable-last-visible">Due Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% for task in tasks %>
      <tr>
        <td><a class="clickable" data-href="<%= project_task_path(task, project_id: @project) %>" ><%= task.name %></a></td>
        <td><a class="clickable" data-href="<%= project_task_path(task, project_id: @project) %>" ><span class="priorityDot <%= priority_class(task.priority) %>"></span><%= task.priority %></a></td>
        <td><a class="clickable" data-href="<%= project_task_path(task, project_id: @project) %>" ><%= task.status %></a></td>
        <td><a class="clickable" data-href="<%= project_task_path(task, project_id: @project) %>" ><%= task.progress %> %</a></td>
        <td><a class="clickable" data-href="<%= project_task_path(task, project_id: @project) %>" ><%= task.assignee.try(:full_name) %></a></td>
        <td><a class="clickable" data-href="<%= project_task_path(task, project_id: @project) %>" ><%= task.description.truncate(25) %></a></td>
        <td><a class="clickable" data-href="<%= project_task_path(task, project_id: @project) %>" ><%= filter_month_date_year(task.start_date) if task.start_date.present? %></a></td>
        <td><a class="clickable" data-href="<%= project_task_path(task, project_id: @project) %>" ><%= filter_month_date_year(task.end_date) if task.end_date.present? %></a></td>
        <td>
          <div class="openLeft moreOptions dropdown"> 
            <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button"> <i class="icon md-more-vert" aria-hidden="true"></i> </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item clickable" data-href="<%= project_task_path(task, project_id: @project) %>" role="menuitem"><i class="icon <%= write_access ? 'md-edit' : 'fa fa-eye' %>" aria-hidden="true"></i><%= write_access ? 'Edit' : 'View' %></a> 
              <% if write_access %>
                <a class="dropdown-item delete-clickable" data-href="<%= project_task_path(task, project_id: @project.id) %>" role="menuitem"><i class="icon md-delete" aria-hidden="true"></i> Delete</a> 
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render partial: "/shared/confirmation_popup", locals: { record_type: 'Project Task' } %>

<div class="digg_pagination">
  <%= js_will_paginate tasks %>
</div>

<script>
  $('.footable').footable();
</script>