<div class="pageTitle">
  <h2><i class="icon fa fa-cog"></i> Settings</h2>
</div>
<div class="btmLineLinks mb-20">
  <ul class="nav horizontal-scroll">
    <li class="nav-item">
      <a class="nav-link <%= active_class('manage_users') %>" href="<%= manage_users_path%>">Manage Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= active_class('manage_configurations') %>" href="<%= manage_configurations_path %>">Manage Configuration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= active_class('considered_locations') %>" href="<%= considered_locations_path %>">Considered Locations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= active_class('security_roles') %>" href="<%= security_roles_path %>">Manage Roles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= active_class('project_logs') %>" href="<%= project_logs_path %>">Project Logs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= active_class('organization_details') %>" href="<%= organization_details_path %>">Organization Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= active_class('my_details') %>" href="<%= my_details_path %>">My Details</a>
    </li>
  </ul>
</div>

<script >
$(document).ready(function(){
  // Add a trigger after the content is loaded and rendered
  $(window).trigger('content:loaded');
});

$(function() {
  var prevScrollHorizontal = 0;
  $(".horizontal-scroll").scroll(function() { // Listens for scroll events
    var currentHorizontal = $(this).scrollLeft();
    if(prevScrollHorizontal != currentHorizontal) {
      prevScrollHorizontal = currentHorizontal;
      localStorage.setItem("scrollPositionHorizontal", currentHorizontal);
        // Scrolled horizontally
    }
  });

   //Listen for the 'content:loaded' event triggered above 
  $(window).on('content:loaded', function() {       
    if(localStorage.scrollPositionHorizontal) {                 
      $(".horizontal-scroll").scrollLeft(localStorage.getItem("scrollPositionHorizontal"));
    }
  });
});
</script>