<!-- Task Modal -->
<div class="modal fade modalStyle" id="taskFormCenter" aria-hidden="true" aria-labelledby="taskFormCenter"
  role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for @task, url: url_for(controller: controller, action: action), class: 'task_form', remote: true do |form| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <% write_access = can_write? && can_write?('tasks') %>
          <h4 class="modal-title" id="addTaskModalLabel"><%= write_access ? (@task.new_record? ? 'ADD NEW TASK' : 'EDIT TASK') : 'TASK DETAILS' %></h4>
        </div>
        <div class="modal-body">
          <fieldset <%= write_access ? '' : 'disabled=disabled' %> class="formStyle">
            <div class="error-messages"></div>
            <div class="example">
              <div class="row">
                <div class="form-group col-md-12">
                  <label>Name:</label>
                  <%= form.text_field :name, class: "form-control", id: "inputBasicFirstName" %>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Priority:</label>
                  <%= form.select :priority, options_for_select(Task::PRIORITY, form.object.priority), {}, class: 'form-control custom-select' %>
                </div>
                <div class="form-group col-md-6">
                  <label>Assign To:</label>
                  <%= form.select :assignee_id, options_for_select(@users.collect { |user| [user.full_name, user.id]}, form.object.assignee_id), {}, class: 'form-control custom-select' %>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Activity:</label>
                  <%= form.select :taskable_id, options_for_select( load_data_with_id(current_org.activities), selected: @activity ? @activity.id : form.object.taskable_id ),{ include_blank: 'No Activity' }, class: 'form-control custom-select', data:{"live-search":true}, disabled: @activity %>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label >Description:</label>
                  <div class="formTextarea">
                    <%= form.text_area :description, class: "form-control", rows: 3, placeholder: "Description" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Start Date:</label>
                  <div class="rightIconFld">
                    <%= form.text_field 'start_date_str', class: "form-control  datepicker", value:  @task.start_date ? filter_month_date_year(@task.start_date) : filter_month_date_year(Date.today), data: {plugin: "datepicker"}, required: true %>
                    <label class="fldRightIcon"> <i class="icon fa fa-calendar-o" aria-hidden="true"></i></label>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>End Date:</label>
                  <div class="rightIconFld">
                    <%= form.text_field 'end_date_str', class: "form-control  datepicker", value:  @task.end_date ? filter_month_date_year(@task.end_date) : filter_month_date_year(Date.today), data: {plugin: "datepicker"}, required: true %>
                    <label class="fldRightIcon"> <i class="icon fa fa-calendar-o" aria-hidden="true"></i></label>
                  </div>
                </div>
              </div>
              <% if @task.new_record? %>
                <%= hidden_field_tag 'task[status]', 'In-Progress' %>
              <% end %>
              <% unless @task.new_record? %>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="status">Status:</label>
                    <%= form.select :status, options_for_select(Task::STATUS, form.object.status), {}, class: 'form-control custom-select' %>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="progress">Progress:</label>
                    <%= form.text_field :progress, class: "form-control", placeholder: '70' %>
                  </div>
                </div>
              <% end %>
            </div>
          </fieldset>
          <%= form.hidden_field :taskable_id, value: @activity.id %>
          
          <% if write_access %> 
            <div class="modalFooterBtns">
              <div class="form-row">
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary"><%= @task.new_record? ? ' Save ' : ' Save changes' %></button>
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                </div>
                <div class="col-auto">
                  <% unless @task.new_record? %>
                    <%= link_to 'Delete', activity_task_path(@task, activity_id: @activity.id) , method: :delete, remote: true, class: "btn btn-block btn-danger" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- End Modal -->