<table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable">
  <thead>
    <tr>
      <th>NAME</th>
      <th>ORGANIZATION</th>
      <th>PHONE</th>
      <th>EMAIL</th>
    </tr>
  </thead>

  <tbody>
    <% for contact in contacts %>
      <tr data-href="<%= contact_path(contact) %>">
        <td><%= contact.name %></td>
        <td><%= contact.organization ? contact.organization.name : 'ORG' %></td>
        <td><%= contact.cell_phone %></td>
        <td><%= contact.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate contacts %>
</div>