<!-- Contact Modal -->
<div class="modal fade modalStyle" id="contactFormCenter" tabindex="-1" role="dialog" aria-labelledby="addContactModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        <h4 class="modal-title" id="addTaskModalLabel"><%= contact.new_record? ? 'ADD CONTACT' : 'EDIT CONTACT' %></h4>
      </div>
      <div class="modal-body">
        <div class="formStyle">
          <div class="error-messages"></div>
          <%= form_for contact, url: url_for(controller: controller, action: action), remote: true do |form| %>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="addName">Name:</label>
                <%= form.text_field :name, class: 'form-control', id: 'inputBasicFirstName', required: true %>
              </div>
              <div class="form-group col-md-4">
                <label>Category:</label>
                <%= form.select :contact_category_id, options_for_select( load_active_type("contact_categories"), form.object.contact_category_id), {}, class: 'form-control custom-select'%>
              </div>
              <div class="form-group col-md-4">
                <label>Business Unit:</label>
                <%= form.select :business_unit_id, options_for_select(load_type("business_units"), form.object.business_unit_id), {}, class: 'form-control custom-select' %>
              </div>
            </div>
      
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="addOrg">Organization:</label>
                <input type="text" class="form-control" id="inputBasicLastName" name="organizationName" value="<%= current_org.name %>" autocomplete="off" disabled/>
              </div>
              <div class="form-group col-md-6">
                <label for="addTitle">Title:</label>
                <%= form.text_field :title, class: 'form-control', id: 'inputBasicTitle' %>
              </div>
            </div>
      
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="addAddress">Address 1:</label>
                <%= form.text_field :address_line_1, class: 'form-control', id: 'inputBasicAddress1' %>
              </div>
              <div class="form-group col-md-6">
                <label for="addAddress2">Address 2:</label>
                <%= form.text_field :address_line_2, class: 'form-control', id: 'inputBasicAddress2' %>
              </div>
            </div>
      
            <div class="form-row">
              <div class="form-group col">
                <label for="city">City, State & Zip Code:</label>
                <%= form.text_field :city_state_zip, class: 'form-control', id: 'inputBasicCityState' %>
              </div>
            </div>
      
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="addNumber">Phone Number 1:</label>
                <%= form.text_field :phone_number_1, class: 'form-control', id: 'inputBasicphone_number_1' %>
              </div>
              <div class="form-group col-md-4">
                <label for="addNumber2">Phone Number 2:</label>
                <%= form.text_field :phone_number_2, class: 'form-control', id: 'inputBasicphone_number_2' %>
              </div>
              <div class="form-group col-md-4">
                <label for="addCellPhon">Cell Phone:</label>
                <%= form.text_field :cell_phone, class: 'form-control', id: 'inputBasicCellPhone' %>
              </div>
            </div>
      
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="addFax">Fax:</label>
                <%= form.text_field :fax, class: 'form-control', id: 'inputBasicFax' %>
              </div>
              <div class="form-group col-md-4">
                <label for="addWebsite">Website:</label>
                <%= form.text_field :website, class: 'form-control', id: 'inputBasicWebsite' %>
              </div>
              <div class="form-group col-md-4">
                <label for="addEmail">Email:</label>
                <%= form.email_field :email, class: 'form-control', id: 'inputBasicEmail', required: true %>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="city">Notes:</label>
                <%= form.text_field :notes, class: 'form-control', id: 'inputBasicNotes' %>
              </div>
            </div>
            <%= hidden_field_tag 'contact[project_id]', @project ? @project.id : nil %>  
            
            <div class="modalFooterBtns">
              <button type="submit" class="btn btn-primary" ><%= contact.new_record? ? ' Save ' : ' Save changes' %></button>
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->


