<%= form_with(model: contact, local: true) do |form| %>
    <%= render :partial => 'shared/error_messages', :locals => {:obj => form.object} %>

    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </p>

    <p>
      <%= form.label :phone_number %><br>
      <%= form.text_field :phone_number %>
    </p>

    <p>
      <%= form.label :address_line_1 %><br>
      <%= form.text_field :address_line_1 %>
    </p>

    <p>
      <%= form.label :city %><br>
      <%= form.text_field :city %>
    </p>

    <p>
      <%= form.label :zip_code %><br>
      <%= form.text_field :zip_code %>
    </p>

    <p>
      <%= form.label :country %><br>
      <%= form.text_field :country %>
    </p>

    <p>
      <%= form.label :business_unit %><br>
      <%= form.text_area :business_unit %>
    </p>



    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
