<%= render partial: 'filters', locals: { controller: 'contacts', action: 'index'} %>
<div class="row">
  <div class="col-xl-12">
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          <button class="btn btn-sm green-btn waves-effect waves-classic" data-href="<%= new_contact_path %>" id="createNewContact" type="button" >ADD CONTACT
          </button>
          <button class="btn btn-sm green-btn waves-effect waves-classic" data-target="#contactImportFormCenter" data-toggle="modal"
            id="importNewContacts" type="button">IMPORT CONTACT
          </button>
          <%= link_to contacts_path, class: 'reload-page-link', data: { turbolinks: false } do %>
              <i class="fa fa-refresh"></i>
          <% end %>
        </h3>
      </header>
      <div class="panel-body" id="contactsList">
        <%= render partial: 'contacts', locals: {contacts: @contacts} %>
      </div>
  </div>
</div>
<div id="createOrEditContact"></div>
<%= render :partial => 'contacts/import_contacts_form' %>