<% if notice.present? %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= notice %>
    </div>
<% end %>

<div class="row">
  <div class="col-xl-12">

    <div class="panel">
      <div class="panel-heading" id="contactFilterHeadingOne" role="tab">
        <h3 class="panel-title">
          Filter Contacts
        </h3>
      </div>
      <div class="panel" id="contactFilterCollapseOne" aria-labelledby="contactFilterHeadingOne" role="tabpanel" style="">
        <div class="panel-body">
          <%= form_tag organization_contacts_path(@organization), method: :get do %>

              <div class="row">
                <div class="form-group form-material col-md-2">
                  <input type="text" name="name" placeholder="Filter by name" class="form-control">
                </div>
                <div class="form-group form-material col-md-2">
                  <input type="text" name="email" placeholder="Filter by email" class="form-control">
                </div>
                <div class="form-group form-material col-md-2">
                  <input type="text" name="org" placeholder="Filter by organization" class="form-control">
                </div>

                <div class="form-group form-material col-md-2">
                  <button type="submit" class="btn btn-block green-btn waves-effect waves-classic">Update & Show
                    List
                  </button>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          <button class="btn btn-sm green-btn waves-effect waves-classic" data-href="<%= new_organization_contact_path(@organization) %>"
                  id="createNewContact" type="button">ADD CONTACT
          </button>
          <button class="btn btn-sm green-btn waves-effect waves-classic" data-target="#contactImportFormCenter" data-toggle="modal"
                  id="importNewContacts" type="button">IMPORT CONTACT
          </button>
        </h3>
      </header>
      <div class="panel-body">
        <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" id="contactsList">
          <thead>
          <tr>
            <th>NAME</th>
            <th>ORGANIZATION</th>
            <th>PHONE</th>
            <th>EMAIL</th>
          </tr>
          </thead>
          <tbody>
          <% for contact in @contacts %>
              <tr data-href="<%= organization_contact_path(@organization, contact) %>">
                <td><%= contact.name %></td>
                <td><%= contact.organization ? contact.organization.name : "ORG" %></td>
                <td><%= contact.cell_phone %></td>
                <td><%= contact.email %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="digg_pagination">
          <%= will_paginate @contacts, :container => false %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="createOrEditContact"></div>
<%= render :partial => 'contacts/import_contacts_form', locals: {organization: @organization} %>

<script>
  $(document).on("click", "#contactsList tr", function () {
    var link = $(this).data("href");
    $.ajax({
      url: link,
      type: "GET"
    });
  });

  $(document).on("click", "#createNewContact", function () {
    var link = $(this).data("href");
    $.ajax({
      url: link,
      type: "GET"
    });
  });

  function showUploadFileName(input) {
    if (input.files && input.files[0]) {
      $('.fileName').html(input.files[0].name);
    }
  }

  $(document).on("click", "#fakeFileUploadBtn", function () {
    $('#contactsFileUploadHidden').click();
  });
  $("#contactsFileUploadHidden").change(function () {
    showUploadFileName(this);
  });
</script>