<div class="section-info-flash"></div>
<%= render partial: 'filters', locals: { controller: 'contacts', action: 'index'} %>
<div class="row">
  <div class="col-xl-12">
    <div class="panel">
      <header class="panel-heading">
        <div class="tasksTopOptions">
          <div class="form-row">          
            <div class="col">
              <div class="form-row">
                <div class="col-auto"> <a data-href="<%= new_contact_path %>" class="btn btn-default clickable">
                  <i class="icon fa fa-plus btnIcon" aria-hidden="true"></i> Add Contact</a>
                </div>
                <div class="col-md"> <a class="btn btn-primary" data-toggle="modal" data-target="#contactImportFormCenter" id="importNewContacts">
                  <i class="icon fa fa-download btnIcon" aria-hidden="true"></i> Import Contact</a>
                </div>
              </div>
            </div>      
          </div>
        </div>
      </header>
      <div class="panel-body" id="contactsList">
        <%= render partial: 'contacts', locals: {contacts: @contacts} %>
      </div>
    </div>
  </div>
</div>

<div id="createOrEditContact"></div>
<%= render :partial => 'contacts/import_contacts_form' %>
<%= render partial: "/shared/confirmation_popup", locals: { record_type: 'Contact' } %>