<p id="notice"><%= notice %></p>

<ul style="list-style-type:square">
  <li><strong>Name: </strong> <%= @contact.name %></li>
  <li><strong>Email: </strong> <%= @contact.email %></li>
  <li><strong>Address: </strong> <%= @contact.address_line_1 %></li>
  <li><strong>Phone: </strong> <%= @contact.phone_number %></li>
  <li><strong>Created Date: </strong> <%= @contact.created_at %></li>
</ul>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
