<br/>
<br/>
<div class="form-inline col-md-12">
  <div class="col-md-1 col-12">
    <label class="form-control-label pull-left">Status: </label>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="form-inline col-md-2 col-4">
        <input type="checkbox" class="to-labelauty-icon" data-label="false" name="status[preliminary]" value = "Preliminary" />
        <span>Preliminary</span>
      </div>
      <div class="form-inline col-md-2 col-4">
        <input type="checkbox" class="to-labelauty-icon" data-label="false" name="status[active]" value = "Active" checked="checked" />
        <span>Active</span>
      </div>
      <div class="form-inline col-md-2 col-4">
        <input type="checkbox" class="to-labelauty-icon" data-label="false" name="status[delayed]" value = "Delayed" />
        <span>Delayed</span>
      </div>
      <div class="form-inline col-md-2 col-4">
        <input type="checkbox" class="to-labelauty-icon" data-label="false" name="status[eliminated]" value = "Eliminated" />
        <span>Eliminated</span>
      </div>
      <div class="form-inline col-md-2 col-4">
        <input type="checkbox" class="to-labelauty-icon" data-label="false" name="status[successful]" value = "Successful" />
        <span>Successful</span>
      </div>
      <div class="form-inline col-md-2 col-4">
        <input type="checkbox" class="to-labelauty-icon" data-label="false" name="status[inactive]" value = "Inactive" />
        <span>Inactive</span>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="form-row col-md-12">
  <div class="form-group col-md-3 col-12">
    <label class="form-control-label" for="inputProjectManager">Project Manager:</label>
    <%= select_tag "project_manager_id", options_for_select(load_project_manager_data_with_id), { class: "form-control", data:{ plugin: 'selectpicker', "live-search":true}, include_blank: 'Please Select' }  %>
  </div>
  <div class="form-group col-md-3 col-12">
    <label class="form-control-label" >Project Contact:</label>
    <%= select_tag "primary_contact_id", options_for_select(load_data_with_id(current_org.contacts)), { class: "form-control", data:{ plugin: 'selectpicker', "live-search":true}, include_blank: 'Please Select' }  %>
  </div>
  <div class="form-group col-md-3 col-12">
    <label class="form-control-label" for="inputConsideredLocations">Considered Locations:</label>
    <%= select_tag "considered_location_id", options_for_select(current_org.considered_locations.active.map{ |type| type.location}), { class: "form-control", data:{ plugin: 'selectpicker', "live-search":true}, include_blank: 'Please Select' }  %>
  </div>
  <div class="form-group col-md-3 col-12">
    <label class="form-control-label" for="inputProject#">Project #:</label>
    <input type="text" class="form-control" id="project_number" name="project_number" autocomplete="off" />
  </div>
</div>
<div class="form-row col-md-12">
  <div class="form-group col-md-3 col-12">
    <label class="form-control-label" for="inputProjectManager">Project Type:</label>
    <%= select_tag 'project_type_id', options_for_select( load_active_type("project_types") ), { class: "form-control", data:{ plugin: 'selectpicker', "live-search":true}, include_blank: 'Please Select' } %>
  </div>
  <div class="form-group col-md-3 col-12">
    <label class="form-control-label" for="inputProjectContact">Industry Type:</label>
    <%= select_tag 'industry_type_id', options_for_select( load_active_type("industry_types") ), { class: "form-control", data:{ plugin: 'selectpicker', "live-search":true}, include_blank: 'Please Select' } %>
  </div>
  <div class="form-group col-md-3 col-12">
    <label class="form-control-label" for="inputConsideredLocations">Source:</label>
    <%= select_tag 'source_id', options_for_select( load_active_type("sources")), { class: "form-control", data:{ plugin: 'selectpicker', "live-search":true}, include_blank: 'Please Select' } %>
  </div>
  <div class="form-group col-md-3 col-12">
    <label class="form-control-label" for="inputProject#">Referred Site/Building:</label>
    <input type="text" class="form-control" id="referred_site" name="inputPrimaryContact" autocomplete="off" />
  </div>
</div>
<br/>
<hr>
<br/>
<div class="col-md-12">
  <div class=" form-group col-md-6">
    <label class="form-control-label" for="inputStartDateRange#">Start Date:</label>
    <div class="input-daterange" data-plugin="datepicker">
      <div class="input-group">
        <span class="input-group-addon">
        <i class="icon md-calendar" aria-hidden="true"></i>
        </span>
        <input type="text" class="form-control" placeholder="mm/dd/yyyy" name="start_date[start]" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">to</span>
        <input type="text" class="form-control" placeholder="mm/dd/yyyy" name="start_date[end]" />
      </div>
    </div>
  </div>
</div>
<br/>
<div class="col-md-12">
  <div class="form-group  col-md-6">
    <label class="form-control-label" for="inputStartDateRange#">Site Visit:</label>
    <div class="input-daterange" data-plugin="datepicker">
      <div class="input-group">
        <span class="input-group-addon">
        <i class="icon md-calendar" aria-hidden="true"></i>
        </span>
        <input type="text" class="form-control" placeholder="mm/dd/yyyy" name="site_visit[start]" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">to</span>
        <input type="text" class="form-control" placeholder="mm/dd/yyyy" name="site_visit[end]" />
      </div>
    </div>
  </div>
</div>
<br/>
<div class="col-md-12">
  <div class="form-group  col-md-6">
    <label class="form-control-label" for="inputStartDateRange#">Completion:</label>
    <div class="input-daterange" data-plugin="datepicker">
      <div class="input-group">
        <span class="input-group-addon">
        <i class="icon md-calendar" aria-hidden="true"></i>
        </span>
        <input type="text" class="form-control" placeholder="mm/dd/yyyy" name="completion[start]" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">to</span>
        <input type="text" class="form-control" placeholder="mm/dd/yyyy" name="completion[end]" />
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<hr>
<div class="form-row col-md-12">
  <div class="form-group col-md-3">
    <label class="form-control-label" for="inputProjectName">Project Name:</label>
    <input type="text" class="form-control" id="name" name="project_name" autocomplete="off" />
  </div>
  <div class="form-group col-md-3">
    <label class="form-control-label" for="inputCompanyName">Company Name:</label>
    <%= select_tag "company", options_for_select( load_data_with_id(current_org.companies) ), { class: "form-control", data:{ plugin: 'selectpicker', "live-search":true}, include_blank: 'Please Select' }  %>
  </div>
  <div class="form-group col-md-3">
    <label class="form-control-label" for="inputProjectNotes">Project Notes:</label>
    <input type="text" class="form-control" id="inputPrimaryContact" name="inputPrimaryContact" autocomplete="off" />
  </div>
  <div class="form-group col-md-3">
    <label class="form-control-label" for="inputProjectEmails">Project Emails:</label>
    <input type="text" class="form-control" id="inputPrimaryContact" name="inputPrimaryContact" autocomplete="off" />
  </div>
</div>
<br/>
<div class="col-md-10">
  <div class="form-group col-md-3">
    <label class="form-control-label" for="inputForPublicRelease">For Public Release?</label>
    <select data-plugin="selectpicker" data-live-search="true" class="form-control" name="public_release">
      <option value="">Please Select</option>
      <option>Yes</option>
      <option>No</option>
    </select>
  </div>
</div>
<div class="form-row col-md-12">
  <div class="col-md-2">
    <label class="form-control-label pull-left">Business Type:</label>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="form-group col-md-3 col-6">
        <input type="checkbox" class="to-labelauty-icon" data-label="false" name="business_type[existing_business]" value="Existing Business" />
        <span>Existing Business</span>
      </div>
      <div class="form-group col-md-3 col-6">
        <input type="checkbox" class="to-labelauty-icon" data-label="false" name="business_type[new_business]" value="New Business" />
        <span>New Business</span>
      </div>
    </div>
  </div>
</div>
<br />
<hr>

