<%= form_for @project, class: "col-md-12" do |project| %>
  <% write_access = can_write?  %>
  <fieldset <%= write_access ? '' : 'disabled=disabled' %> class="formStyle">
    <div class="error-messages">
      <%= render partial: 'shared/error_messages', locals: {obj: @project} %>
    </div>
    <div class="formRowSize">
      <div class="form-row">
        <div class="form-group col-md-6 col-lg-3">
          <label>Source:</label>
          <%= project.select :source_id, options_for_select(load_active_type("sources") , project.object.source_id), {}, class: 'form-control custom-select' %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-lg-3">
          <label for="priority">Active Date:</label>
          <div class="rightIconFld">
            <%= project.text_field 'active_date_str', class: "form-control  datepicker", value: "#{@project.active_date ? filter_month_date_year(@project.active_date) : filter_month_date_year(Date.today)}", data: {plugin: "datepicker"} %>
            <label for="activeDate" class="fldRightIcon"> <i class="icon fa fa-calendar-o" aria-hidden="true"></i> </label>
          </div>
        </div>
        <div class="form-group col-md-6 col-lg-3">
          <label for="priority">Successful Completion Date:</label>
          <div class="rightIconFld">
            <%= project.text_field 'successful_completion_date_str', class: "form-control datepicker", value: "#{filter_month_date_year(@project.successful_completion_date)}", data: {plugin: "datepicker"} %>
            <label for="scDate" class="fldRightIcon"> <i class="icon fa fa-calendar-o" aria-hidden="true"></i> </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <div class="inline-items">
            <ul>
              <li class="lblMdBlock">
                <label>Business Type</label>
              </li>
              <li>
                <div class="custom-radioBtn">
                  <%= project.radio_button :business_type, 'Existing Business', checked: true %>
                  <label for="project_business_type_existing_business">Existing Business</label>
                </div>
              </li>
              <li>
                <div class="custom-radioBtn">
                  <%= project.radio_button :business_type, 'New Business' %>
                  <label for="project_business_type_new_business">New Business</label>
                </div>
              </li>
            </ul>
            <ul>
              <li class="lblMdBlock">
                <label>Status</label>
              </li>
              <li>
                <div class="custom-radioBtn">
                  <%= project.radio_button :status, 'Preliminary', checked: true %>
                  <label for="project_status_preliminary">Preliminary</label>
                </div>
              </li>
              <li>
                <div class="custom-radioBtn">
                  <%= project.radio_button :status, 'Inactive' %>
                  <label for="project_status_inactive">Inactive</label>
                </div>
              </li>
              <li>
                <div class="custom-radioBtn">
                  <%= project.radio_button :status, 'Active' %>
                  <label for="project_status_active">Active</label>
                </div>
              </li>
              <li>
                <div class="custom-radioBtn">
                  <%= project.radio_button :status, 'Delayed' %>
                  <label for="project_status_delayed">Delayed</label>
                </div>
              </li>
              <li>
                <div class="custom-radioBtn">
                  <%= project.radio_button :status, 'Eliminated' %>
                  <label for="project_status_eliminated">Eliminated</label>
                </div>
              </li>
              <li>
                <div class="custom-radioBtn">
                  <%= project.radio_button :status, 'Successful' %>
                  <label for="project_status_successful">Successful</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-lg-3">
          <label for="project">Project #</label>
          <%= project.text_field 'project_number', class: "form-control", id: "projectsNumber", 
          value: (@project.project_number ? @project.project_number : assign_default_object_number('project')), maxlength: 6, minlength: 6, required: true, placeholder: "Project"%>
          <div id="projectsNumberMessage" value="<%= @project ? @project.id : nil %>"></div>
        </div>
        <div class="form-group col-md-6 col-lg-3">
          <label for="projectManager">Project Manager:</label>
          <div class="form-group">
            <%= project.select(:project_manager_id, load_project_manager_data_with_id, { include_blank: 'Nothing Selected' }, class: 'custom-select form-control') %>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-6 ">
          <label for="projectName">Project Name:</label>
          <%= project.text_field 'name', class: "form-control", required: true, placeholder: "Project Name" %>
        </div>
      </div>
    </div>
    <div class="divider-hr"></div>
    <div class="formRowSize">
      <div class="form-row">
        <div class="form-group col-lg-3">
          <label for="companyName">Company Name:</label>
          <%= project.select(:company_id, load_company_data_with_id(current_org.companies), { include_blank: 'No company' }, class: 'custom-select form-control') %>
        </div>
        <% if can_write?('companies') %>
          <div id="quick_add_company" class="form-group col-lg-3 <%= 'hidden' unless @project.company_id == 0 %>">
            <label for="NewCompanyName">Quick add company:</label>
            <%= project.text_field 'new_company_name', class: "form-control", placeholder: "quick add company", required: @project.company_id == 0 ? true : false%>
          </div>
        <% end %>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 col-lg-3">
          <label>Project Type:</label>
          <%= project.select :project_type_id, options_for_select(load_active_type("project_types"), project.object.project_type_id), {}, class: 'form-control custom-select' %>
        </div>
        <div class="form-group col-md-4 col-lg-3">
          <label>Industry Type:</label>
          <%= project.select :industry_type_id, options_for_select( load_active_type("industry_types"), project.object.industry_type_id), {}, class: 'form-control custom-select' %>
        </div>
        <div class="form-group col-md-4 col-lg-3">
          <label>Business Unit:</label>
          <%= project.select :business_unit_id, options_for_select( load_type("business_units"), project.object.business_unit_id), {}, class: 'form-control custom-select' %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-9 ">
          <label for="description">Description:</label>
          <div class="formTextarea">
            <%= project.text_area 'description', class: "form-control", rows: "3",placeholder: "Description" %>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-6 <%= 'hidden' if @project.new_record? || !@project.is_successful?  %>" id="where_located_div">
          <label for="where_located">Where Located:</label>
          <%= project.text_field 'where_located', class: "form-control", placeholder:"Where Located" %>
        </div>
      </div>
    </div>
    <div class="divider-hr"></div>
    <div class="formRowSize">
      <div class="form-row">
        <div class="col-12">
          <label for="primaryContact">Primary Contact:</label>
        </div>
        <div class="form-group col-md-9 col-lg-6">
          <%= project.select(:primary_contact_id, load_data_with_id(current_org.contacts),{}, class: "form-control custom-select") %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-3">
          <label>Square Feet Requested:</label>
          <%= project.select :square_feet_requested, options_for_select( Project::SQUARE_FEET_REQUESTED, project.object.square_feet_requested), {}, class: 'form-control custom-select' %>
        </div>
        <div id="otherSquareFeetRequested" class="form-group col-lg-3 <%= 'hidden' unless @project.square_feet_requested == 'Other' %>">
          <label for="OtherSquareFeet">Other Square Feet Requested:</label>
          <%= project.number_field 'other_square_ft_requested', class: "form-control", required: true, placeholder: "Requested Square feet" %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-9">
          <label for="squareNotes">Square Footage Notes:</label>
          <div class="formTextarea">
            <%= project.text_area 'square_footage_note', class: "form-control", rows: "3", placeholder: "Square Footage Notes" %>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-3">
          <label>Acres Requested:</label>
          <%= project.select :acres_requested, options_for_select( Project::ACRES_REQUESTED, project.object.acres_requested), {}, class: 'form-control custom-select' %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-9">
          <label for="acreageNotes">Acreage Notes:</label>
          <div class="formTextarea">
            <%= project.text_area 'acreage_note', class: "form-control", rows: "3",placeholder: "Acreage Notes" %>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-lg-3">
          <label for="newJobs">New Jobs #</label>
          <%= project.text_field 'new_jobs', class: "form-control", placeholder: "New Jobs" %>
        </div>
        <div class="form-group col-md-6 col-lg-3">
          <label for="retainedJobs">Retained Jobs #</label>
          <%= project.text_field 'retained_jobs', class: "form-control", placeholder: "Retained Jobs" %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-9">
          <label for="newJobsNotes">New Jobs Notes:</label>
          <div class="formTextarea">
            <%= project.text_area 'new_jobs_notes', class: "form-control", rows: "3",placeholder: "New Jobs Notes" %>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <label for="wages">Wages #</label>
        </div>
        <div class="form-group col-md-5 col-lg-3">
          <%= project.text_field 'wages', class: "form-control", placeholder: "Wages #" %>
        </div>
        <div class="form-group col-auto align-self-center"> <span class="red">*</span> Enter number with no dollar signs or commas </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-9">
          <label for="wagesNotes">Wages Notes:</label>
          <div class="formTextarea">
            <%= project.text_area 'wages_notes', class: "form-control", rows: "3",placeholder: "Wages Notes" %>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <label for="netNewInvestment">Net New Investment #</label>
        </div>
        <div class="form-group col-md-5 col-lg-3">
          <%= project.text_field 'net_new_investment', class: "form-control", placeholder: "Net New Investment" %>
        </div>
        <div class="form-group col-auto align-self-center"> <span class="red">*</span> Enter number with no dollar signs or commas </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-9">
          <label for="newInvNotes">Net New Investment Notes:</label>
          <div class="formTextarea">
            <%= project.text_area 'net_new_investment_notes', class: "form-control", rows: "3", placeholder: "Net New Investment Notes" %>
          </div>
        </div>
      </div>
      <div class="selectOptionSection">
        <div class="form-row">
          <div class="col-12">
            <label for="consideredLoc">Considered Locations:</label>
          </div>
          <div class="form-group col-md-9 col-lg-3">
            <%= project.select :considered_location_id, options_for_select( current_org.considered_locations.active.map { |type| [type.location, type.id] }, project.object.considered_location_id), {}, class: 'form-control custom-select' %>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <label for="competition">Competition:</label>
          </div>
          <div class="form-group col-md-9 col-lg-3">
            <%= project.select :competition_id, options_for_select( load_active_type("competitions"), project.object.competition_id), {}, class: 'form-control custom-select' %>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <label for="competition">Incentives:</label>
          </div>
          <div class="form-group col-md-9 col-lg-3">
            <%= project.select :incentive_id, options_for_select( load_active_type("incentives"), project.object.incentive_id), {}, class: 'form-control custom-select' %>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-7">
          <div class="form-row">
            <div class="col-md-6">
              <div id="siteVisitDates">
                <%= project.fields_for :site_visits do |site_visit| %>
                  <%= render 'site_visit_fields', f: site_visit %>
                <% end %>
                <div class="links">
                  <%= link_to_add_association 'Add Visit Date', project, :site_visits, class: 'btn btn-default' if write_access %>
                </div>
              </div>
            </div>
            <div class="col-md-6 publicRelease-and-elimination hidden">
              <div class="form-group">
                <label for="feleaseDate">Public Release Date:</label>
                <div class="rightIconFld">
                  <%= project.text_field 'public_release_date_str', class: "form-control datepicker", value: "#{@project.public_release_date}", data: {plugin: "datepicker"} %>
                  <label for="feleaseDate" class="fldRightIcon"> <i class="icon fa fa-calendar-o" aria-hidden="true"></i> </label>
                </div>
              </div>
              <div class="form-group">
                <label>Elimination Reason:</label>
                <%= project.select :elimination_reason_id, options_for_select(load_active_type("elimination_reasons"), project.object.elimination_reason_id), {}, class: 'form-control custom-select' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="btmRadioSelector">
            <div class="form-row">
              <div class="col-md radioLbl">
                <label>Site Selector?</label>
              </div>
              <div class="form-group col-auto">
                <div class="inlineRadio">
                  <ul>
                    <li>
                      <div class="custom-radioBtn">
                        <%= project.radio_button :site_selector, 'false', checked: true %>
                        <label for="project_site_selector_false">No</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-radioBtn">
                        <%= project.radio_button :site_selector, 'true' %>
                        <label for="project_site_selector_true">Yes</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class=" col-md radioLbl">
                <label>Utilize sites and building database?</label>
              </div>
              <div class="form-group col-auto">
                <div class="inlineRadio">
                  <ul>
                    <li>
                      <div class="custom-radioBtn">
                        <%= project.radio_button :utilize_sites, 'false', checked: true %>
                        <label for="project_utilize_sites_false">No</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-radioBtn">
                        <%= project.radio_button :utilize_sites, 'true' %>
                        <label for="project_utilize_sites_true">Yes</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md radioLbl">
                <label>Speculative Building?</label>
              </div>
              <div class="form-group col-auto">
                <div class="inlineRadio">
                  <ul>
                    <li>
                      <div class="custom-radioBtn">
                        <%= project.radio_button :speculative_building, 'false', checked: true %>
                        <label for="project_speculative_building_false">No</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-radioBtn">
                        <%= project.radio_button :speculative_building, 'true' %>
                        <label for="project_speculative_building_true">Yes</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col radioLbl">
                <label>For public release?</label>
              </div>
              <div class="form-group col-auto">
                <div class="inlineRadio">
                  <ul>
                    <li>
                      <div class="custom-radioBtn">
                        <%= project.radio_button :public_release, 'false', checked: true %>
                        <label for="project_public_release_false">No</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-radioBtn">
                        <%= project.radio_button :public_release, 'true' %>
                        <label for="project_public_release_true">Yes</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if @activity %>
      <%= hidden_field_tag "project[activity_id]", @activity.id %>
    <% end %>

    <% if write_access %>
      <div class="divider-hr"></div>
      <div class="form-row">
        <div class="form-group mbFullWd col-auto">
          <button type="submit" class="btn btn-primary" name= "commit" value= "Save & Close">Save & Close</button>
        </div>
        <div class="form-group mbFullWd col-auto">
          <button type="submit" class="btn btn-outline-primary">Save</button>
        </div>
        <div class="form-group mbFullWd col-auto">
          <%= link_to 'Cancel', projects_path, class: "btn btn-outline-primary", data: { turbolinks: false } %>
        </div>
      </div>
    <% end %>
  </fieldset>
<% end %>
