<div class="panel" >
  <div class="panel-body">
    <%= form_for @project, class: "col-md-12" do |project| %>
      <div class="error-messages">
        <%= render partial: 'shared/error_messages', locals: {obj: @project} %>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-3 col-6">
          <label class="form-control-label">Active Date:</label>
          <div class="input-group">
            <span class="input-group-addon">
            <i class="icon md-calendar" aria-hidden="true"></i>
            </span>
            <%= project.text_field 'active_date_str', class: "form-control  datepicker", value: "#{@project.active_date.strftime("%m/%d/%Y") if @project.active_date}", data: {plugin: "datepicker"} %>
          </div>
        </div>
        <div class="form-group form-material col-md-3 col-6">
          <label class="form-control-label">Completion Date</label>
          <div class="input-group">
            <span class="input-group-addon">
            <i class="icon md-calendar" aria-hidden="true"></i>
            </span>
            <%= project.text_field 'successful_completion_date_str', class: "form-control datepicker", value: "#{@project.successful_completion_date}", data: {plugin: "datepicker"} %>
          </div>
        </div>
      </div>
      <br/>
      <div class="row form-inline form-material">
        <div class="col-md-2 ">
          <label class="form-control-label pull-left">Business Type:</label>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="form-inline col-md-3 col-6">
              <%= project.radio_button :business_type, 'Existing Business', checked: true, class: "pull-left" %>
              <label for="inputRadiosUnchecked" class="pull-left">Existing Business</label>
            </div>
            <div class="form-inline col-md-3 col-6">
              <%= project.radio_button :business_type, 'New Business' %>
              <label for="inputRadiosChecked">New Business</label>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row form-inline form-material">
        <div class="col-md-1">
          <label class="form-control-label pull-left">Status: </label>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="form-inline col-md-2 col-4">
              <%= project.radio_button :status, 'Preliminary', checked: true %>
              <label for="inputRadiosChecked">Preliminary</label>
            </div>
            <div class="form-inline col-md-2 col-4">
              <%= project.radio_button :status, 'Active' %>
              <label for="inputRadiosChecked">Active</label>
            </div>
            <div class="form-inline col-md-2 col-4">
              <%= project.radio_button :status, 'Delayed' %>
              <label for="inputRadiosChecked">Delayed</label>
            </div>
            <div class="form-inline col-md-2 col-4">
              <%= project.radio_button :status, 'Eliminated' %>
              <label for="inputRadiosChecked">Eliminated</label>
            </div>
            <div class="form-inline col-md-2 col-4">
              <%= project.radio_button :status, 'Successful' %>
              <label for="inputRadiosChecked">Successful</label>
            </div>
            <div class="form-inline col-md-2 col-4">
              <%= project.radio_button :status, 'Inactive' %>
              <label for="inputRadiosChecked">Inactive</label>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" id="inputProjectId" >Project #</label>
          <%= project.text_field 'project_number', class: "form-control", id: "projectsNumber", maxlength: 6, minlength: 6, required: true %>
          <div id="projectsNumberMessage" value="<%= @project ? @project.id : nil %>"></div>
        </div>
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" for="inputProjectManager">Project Manager:</label>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-6">
          <label class="form-control-label" id="inputProjectName" >Project Name:</label>
          <%= project.text_field 'name', class: "form-control", required: true %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" id="inputCompanyName" >Company Name:</label>
          <%= project.select(:company_id, load_data_with_id(current_org.companies),{},{data:{ plugin: 'selectpicker', "live-search":true}}) %>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" for="inputProjectType">Project Type:</label>
          <%= project.select :project_type, options_for_select(load_active_type("project_types"), project.object.project_type), {}, class: 'form-control', data: {
            plugin: "selectpicker" } %>
        </div>
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" for="inputIndustryType">Industry Type:</label>
          <%= project.select :industry_type, options_for_select( load_active_type("industry_types"), project.object.industry_type), {}, class: 'form-control', data: {
            plugin: "selectpicker" } %>
        </div>
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" for="inputBusinessUnit">Business Unit:</label>
          <%= project.select :business_unit, options_for_select( load_type("business_units"), project.object.business_unit), {}, class: 'form-control', data: {
            plugin: "selectpicker" } %>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-9">
          <label class="form-control-label" id="inputDescriptionName" >Description:</label>
          <%= project.text_area 'description', class: "form-control", rows: "3" %>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-6">
          <label class="form-control-label" id="inputLocated" >Located:</label>
          <%= project.text_field 'located', class: "form-control" %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="form-group form-material col-md-6">
          <label class="form-control-label" id="inputPrimaryContact" >Primary Contact:</label>
          <%= project.select(:primary_contact_id, load_data_with_id(current_org.contacts),{},{data:{ plugin: 'selectpicker', "live-search":true}}) %>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" id="inputSquareFeet" >Square Feet Requested:</label>
          <%= project.select :square_feet_requested, options_for_select( Project::SQUARE_FEET_REQUESTED, project.object.square_feet_requested), {}, class: 'form-control', data: {
            plugin: "selectpicker" } %>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-9">
          <label class="form-control-label" id="inputSquareFootageNotes" >Square Footage Notes:</label>
          <%= project.text_area 'square_footage_note', class: "form-control", rows: "3" %>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" id="inputAcres" >Acres Requested:</label>
          <%= project.select :acres_requested, options_for_select( Project::ACRES_REQUESTED, project.object.acres_requested), {}, class: 'form-control', data: { plugin: "selectpicker" } %>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-9">
          <label class="form-control-label" id="inputAcreageNotes" >Acreage Notes:</label>
          <%= project.text_area 'acreage_note', class: "form-control", rows: "3" %>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" id="inputNewJobs" >New Jobs #</label>
          <%= project.text_field 'new_jobs', class: "form-control" %>
        </div>
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" id="inputRetainedJobs" >Retained Jobs #</label>
          <%= project.text_field 'retained_jobs', class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-9">
          <label class="form-control-label" id="inputNewJobsNotes" >New Jobs Notes:</label>
          <%= project.text_area 'new_jobs_notes', class: "form-control", rows: "3" %>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" id="inputWages" >Wages #</label>
          <%= project.text_field 'wages', class: "form-control" %>
          <span class="text-help">
          *Enter number with no dollar signs or commas
          </span>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-9">
          <label class="form-control-label" id="inputWagesNotes" >Wages Notes:</label>
          <%= project.text_area 'wages_notes', class: "form-control", rows: "3" %>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" id="inputNetNewInvestment" >Net New Investment #</label>
          <%= project.text_field 'net_new_investment', class: "form-control" %>
          <span class="text-help">
          *Enter number with no dollar signs or commas
          </span>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-9">
          <label class="form-control-label" id="inputNetNewInvestmentNotes" >Net New Investment Notes:</label>
          <%= project.text_area 'net_new_investment_notes', class: "form-control", rows: "3" %>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" id="inputConsideredLocations" >Considered Locations: </label>
          <%= project.select :considered_location, options_for_select( current_org.considered_locations.active.map { |type| type.location}, project.object.considered_location), {}, class: 'form-control', data: { plugin: "selectpicker" } %>
        </div>
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" id="inputCompetition" >Competition: </label>
          <%= project.select :competition, options_for_select( load_active_type("competitions"), project.object.competition), {}, class: 'form-control', data: { plugin: "selectpicker" } %>
        </div>
        <div class="form-group form-material col-md-3">
          <label class="form-control-label" id="inputServiceProvided" >Service Provided: </label>
          <%= project.select :provided_service, options_for_select( load_active_type("provided_services"), project.object.provided_service), {}, class: 'form-control', data: { plugin: "selectpicker" } %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="form-group form-material col-md-6">
              <label class="form-control-label">Site Vist 1:</label>
              <div class="input-group">
                <span class="input-group-addon">
                <i class="icon md-calendar" aria-hidden="true"></i>
                </span>
                <%= project.text_field 'site_visit_1_str', class: "form-control datepicker", value: "#{@project.site_visit_1}", data: {plugin: "datepicker"} %>
              </div>
            </div>
            <div class="form-group form-material col-md-6">
              <label class="form-control-label" for="inputPublicReleaseDate">Public Release Date:</label>
              <div class="input-group">
                <span class="input-group-addon">
                <i class="icon md-calendar" aria-hidden="true"></i>
                </span>
                <%= project.text_field 'public_release_date_str', class: "form-control datepicker", value: "#{@project.public_release_date}", data: {plugin: "datepicker"} %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group form-material col-md-6">
              <label class="form-control-label" for="inputSiteVisit2">Site Vist 2:</label>
              <div class="input-group">
                <span class="input-group-addon">
                <i class="icon md-calendar" aria-hidden="true"></i>
                </span>
                <%= project.text_field 'site_visit_2_str', class: "form-control datepicker", value: "#{@project.site_visit_2}",  data: {plugin: "datepicker"} %>
              </div>
            </div>
            <div class="form-group form-material col-md-6">
              <label class="form-control-label" for="inputSource">Source:</label>
              <%= project.select :source, options_for_select(load_active_type("sources") , project.object.source), {}, class: 'form-control', data: { plugin: "selectpicker" } %>
            </div>
          </div>
          <div class="row">
            <div class="form-group form-material col-md-6">
              <label class="form-control-label" for="inputSiteVisit3">Site Vist 3:</label>
              <div class="input-group">
                <span class="input-group-addon">
                <i class="icon md-calendar" aria-hidden="true"></i>
                </span>
                <%= project.text_field 'site_visit_3_str', class: "form-control datepicker", value: "#{@project.site_visit_3}", data: {plugin: "datepicker"} %>
              </div>
            </div>
            <div class="form-group form-material col-md-6">
              <label class="form-control-label" for="inputEliminationReason">Elimination Reason:</label>
              <%= project.select :elimination_reason, options_for_select(load_active_type("elimination_reasons"), project.object.elimination_reason), {}, class: 'form-control', data: { plugin: "selectpicker" } %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="form-inline form-material col-md-12">
              <div class="col-md-7 col-6">
                <label class="form-control-label">Site Selector?</label>
              </div>
              <div class="form-group col-md-2 col-3">
                <%= project.radio_button :site_selector, 'false', checked: true %>
                <label for="inputRadiosUnchecked">No</label>
              </div>
              <div class="form-group col-md-2 col-3">
                <%= project.radio_button :site_selector, 'true' %>
                <label for="inputRadiosChecked">Yes</label>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="form-inline form-material col-md-12">
              <div class="col-md-7 col-6">
                <label class="form-control-label">Utilize sites and building database?</label>
              </div>
              <div class="form-group col-md-2 col-3">
                <%= project.radio_button :utilize_sites, 'false', checked: true %>
                <label for="inputRadiosUnchecked">No</label>
              </div>
              <div class="form-group col-md-2 col-3">
                <%= project.radio_button :utilize_sites, 'true' %>
                <label for="inputRadiosChecked">Yes</label>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="form-inline form-material col-md-12">
              <div class="col-md-7 col-6">
                <label class="form-control-label">Speculative Building?</label>
              </div>
              <div class="form-group col-md-2 col-3">
                <%= project.radio_button :speculative_building, 'false', checked: true %>
                <label for="inputRadiosUnchecked">No</label>
              </div>
              <div class="form-group col-md-2 col-3">
                <%= project.radio_button :speculative_building, 'true' %>
                <label for="inputRadiosChecked">Yes</label>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="form-inline form-material col-md-12">
              <div class="col-md-7 col-6">
                <label class="form-control-label">For public release?</label>
              </div>
              <div class="form-group col-md-2 col-3">
                <%= project.radio_button :public_release, 'false', checked: true %>
                <label for="inputRadiosUnchecked">No</label>
              </div>
              <div class="form-group col-md-2 col-3">
                <%= project.radio_button :public_release, 'true' %>
                <label for="inputRadiosChecked">Yes</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-2 col-6">
          <div class="form-group form-material">
            <button type="submit" class="btn btn-block green-btn col-md-12" name= "commit", value= "Save & Close">Save & Close</button>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="form-group form-material">
            <button type="submit" class="btn btn-block green-btn col-md-12">Save</button>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="form-group form-material">
            <%= link_to 'Cancel', projects_path, class: "btn btn-block green-btn col-md-12", data: { turbolinks: false } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>