<table class="table tableCustomStyle tableImg table-hover removeTblSearch bodrTop footable footable-6 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg" data-toggle-column="first" data-empty="There are no projects" data-show-toggle="true">
  <thead>
    <tr>
      <th>PROJECT#</th>
      <th>PROJECT NAME</th>
      <th data-breakpoints="xs">COMPANY NAME</th>
      <th data-breakpoints="xs">STARTED</th>
      <th data-breakpoints="xs">STATUS</th>
      <th data-breakpoints="xs"></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><a class="custom-href" href="projects/<%= project.id %>/edit"><%= project.project_number %></a></td>
        <td><a class="custom-href" href="projects/<%= project.id %>/edit"><%= project.name %></td>
        <td><a class="custom-href" href="<%= project.company ? edit_company_path(project.company_id) : '' %>"><%= project.company ? project.company.name : "No Company" %></td>
        <td><%= project.active_date %></td>
        <td><%= project.status %></td>
        <td>
          <div class="openLeft moreOptions dropdown"> 
            <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button"> <i class="icon md-more-vert" aria-hidden="true"></i> </a>
            <div class="dropdown-menu" role="menu"> 
              <a class="dropdown-item" href="projects/<%= project.id %>/edit" role="menuitem"><i class="icon fa fa-eye" aria-hidden="true"></i> View</a> 
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= js_will_paginate @projects %>
</div>

<script>
  $('.footable').footable();
</script>