<table class="table table-hover dataTable table-striped w-full" >
  <thead>
    <tr>
      <th>NAME</th>
      <th>SIZE</th>
      <th>UPLOADED BY</th>
      <th>ASSIGNED PROJECT</th>
      <th>DATE MODIFIED</th>
      <th colspan="2" class="text-center">OPERATIONS</th>
    </tr>
  </thead>
  <tbody>
  <% for file in files %>
      <tr>
        <td title="Edit <%= File.basename(file.name.to_s) %>" data-href="<%= edit_file_path(file) %>" class="clickable" ><%= File.basename(file.name.to_s) %></td>
        <td title="Edit <%= File.basename(file.name.to_s) %>" data-href="<%= edit_file_path(file) %>" class="clickable" ><%= (file.size.to_f/1000).round(1) %> kB </td>
        <td title="Edit <%= File.basename(file.name.to_s) %>" data-href="<%= edit_file_path(file) %>" class="clickable" ><%= file.user.full_name %></td>
        <% if file.project %>
          <td data-href="<%= edit_file_path(file) %>" class="clickable" ><%= file.project.name %></td>
        <% else %>
          <td title="Assign project to <%= File.basename(file.name.to_s) %>">
            <button class="clickable btn btn-xs green-btn" data-href="<%= show_projects_file_path(file) %>" ><i class="fa fa-plus"></i> Add</button></td>
        <% end %>
        <td title="Edit <%= File.basename(file.name.to_s) %>" data-href="<%= edit_file_path(file) %>" class="clickable" ><%= file.updated_at.strftime("%m/%d/%Y") if file.updated_at.present? %></td>
        <td title="Download <%= File.basename(file.name.to_s) %>" class="text-right" ><a class="btn btn-xs green-btn download-btn fa fa-download" href="<%= file.name %>" ></a></td>
        <td title="Delete <%= File.basename(file.name.to_s) %>"><button class="btn btn-xs btn-danger fa fa-trash delete-clickable" data-href="<%= file_path(file) %>" ></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= js_will_paginate files %>
</div>