<!-- File Modal -->
<div class="modal fade" id="fileFormCenter" aria-hidden="true" aria-labelledby="fileFormCenter"
  role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for @file, url: url_for(controller: controller, action: action), remote: true do |form| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h6 class="modal-title"><%= @file.new_record? ? "ADD FILE" : "EDIT FILE" %></h6>
        </div>
        <div class="modal-body">
          <div class="example-wrap">
            <div class="error-messages"></div>
            <div class="example">
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="form-control-label">File:</label>
                  <%= form.file_field :name %>
                </div>
              </div>
              <div class="row">
                <div class="form-group form-material col-md-6">
                  <label class="form-control-label" >Project:</label>
                  <%= form.select :project_id, options_for_select( load_data_with_id(current_org.projects), selected: @project ? @project.id : form.object.project_id ),{ include_blank: 'No Project' }, data:{ plugin: 'selectpicker', "live-search":true}, disabled: @project %>
                  <% if @project %>
                    <%= hidden_field_tag 'document[project_id]', @project.id %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group form-material col-md-12">
                <button type="submit" class="btn btn-sm green-btn" id="saveButton"><%= @file.new_record? ? ' Save ' : ' Save changes' %></button>
                <button type="button" class="btn btn-sm white-btn" data-dismiss="modal">Cancel</button>
                <% unless @file.new_record? %>
                  <%= link_to 'Delete',file_path(@file), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
                <% end %>
              </div>
            </div>
            <div class="spinner" hidden>
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- End Modal -->
