<div class="panel panel-bordered" id="company-info">
  <div class="panel-heading collapsed" data-toggle="collapse" href="#company-info-form" aria-expanded="false" aria-controls="company-info-form">
    <h3 class="panel-title"> Company Info <i class="fa fa-caret-down pull-right" aria-hidden="true"></i></h3>
  </div>
  <div class="panel-body panel-collapse collapse" id="company-info-form" aria-labelled-by="company-info-form" role="tabpanel">
    <div class="error-messages"></div>
    <div class="alerts"></div>
    <br/>
    <%= form_for @company, url: company_info_update_company_path, method: :patch, remote: true  do |company| %>
      <div class="row">
        <div class="form-group col-md-6">
          <label id="inputCompanyName" >Company Name:</label>
          <%= company.text_field 'name', class: "form-control", required: true %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <label id="inputCompanyNumber" >Company Number:</label>
          <%= company.text_field 'company_number', class: "form-control", id: "companiesNumber", maxlength: 6, minlength: 6, required: true %>
          <div id="companiesNumberMessage" value="<%= @company ? @company.id : nil%>"></div>
        </div>
        <div class="form-group col-md-3">
          <label id="inputBusinessSector" >Industry Type:</label>
          <%= company.select :industry_type_id, options_for_select( load_active_type("industry_types"), company.object.industry_type_id), {}, {class: 'form-control custom-select', data:{"live-search":true } } %>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="form-group col-md-3">
          <label>City:</label>
          <%= company.text_field :city, class: 'form-control', id: 'inputCity' %>
        </div>
        <div class="form-group col-md-3">
          <label>State:</label>
          <%= company.text_field :state, class: 'form-control', id: 'inputState' %>
        </div>
        <div class="form-group col-md-3">
          <label>Zip Code:</label>
          <%= company.text_field :zip_code, class: 'form-control', id: 'inputZipCode' %>
        </div>
      </div> 
      <div class="row">
        <div class="form-group col-md-3">
          <label>County:</label>
          <%= company.text_field :country, class: 'form-control', id: 'inputCountry' %>
        </div>
        <div class="form-group col-md-3">
          <label>Region:</label>
          <%= company.text_field :region, class: 'form-control', id: 'inputRegion' %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="form-group col-md-3">
          <label>Phone Number 1:</label>
          <%= company.text_field :phone_number_1, class: 'form-control', id: 'inputTelephone' %>
        </div>
        <div class="form-group col-md-3">
          <label>Phone Number 2:</label>
          <%= company.text_field :phone_number_2, class: 'form-control', id: 'inputTelephone' %>
        </div>
        <div class="form-group col-md-3">
          <label>Cell Phone:</label>
          <%= company.text_field :cell_phone, class: 'form-control', id: 'inputTelephone' %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <label>Fax:</label>
          <%= company.text_field :fax, class: 'form-control', id: 'inputFax' %>
        </div>
        <div class="form-group col-md-3">
          <label>Website:</label>
          <%= company.text_field :website, class: 'form-control', id: 'inputWebsite' %>
        </div>
        <div class="form-group col-md-3">
          <label>Email:</label>
          <%= company.email_field :email, class: 'form-control', id: 'inputEmail' %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-2">
          Member Investor?
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="form-inline col-md-3 col-6 custom-radioBtn">
              <%= company.radio_button :member_investor, 'false', checked: true, id: 'inputRadiosUnchecked' %>
              <label for="inputRadiosUnchecked">No</label>
            </div>
            <div class="form-inline col-md-3 col-6 custom-radioBtn">
              <%= company.radio_button :member_investor, 'true', id: 'inputRadiosChecked' %>
              <label for="inputRadiosChecked">Yes</label>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group col-md-9">
          <label id="inputCompanyNotes" >Company Notes:</label>
          <div class="formTextarea">
            <%= company.text_area 'notes', class: "form-control", rows: "3" %>
          </div>
        </div>
      </div>
      <div class="divider-hr"></div>
      <div class="form-row">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" name= "commit", value= "Save & Close">Save & Close</button>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-outline-primary">Save</button>
        </div>
        <div class="col-auto">
          <%= link_to 'Cancel', companies_path, class: "btn btn-outline-primary", data: { turbolinks: false } %>
        </div>
      </div> 
    <% end %>
  </div>
</div>