<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @company.owner_id %>
</p>

<p>
  <strong>Subscription:</strong>
  <%= @company.subscription_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Company number:</strong>
  <%= @company.company_number %>
</p>

<p>
  <strong>Business sector:</strong>
  <%= @company.business_sector %>
</p>

<p>
  <strong>Address line 1:</strong>
  <%= @company.address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @company.address_line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @company.zip_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Member investor:</strong>
  <%= @company.member_investor %>
</p>

<p>
  <strong>Utility provider:</strong>
  <%= @company.utility_provider %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @company.notes %>
</p>

<p>
  <strong>Business unit:</strong>
  <%= @company.business_unit %>
</p>

<p>
  <strong>Company establishment year:</strong>
  <%= @company.company_establishment_year %>
</p>

<p>
  <strong>Years business located:</strong>
  <%= @company.years_business_located %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
