<table class="table tableCustomStyle tableImg table-hover removeTblSearch bodrTop footable footable-6 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg" data-toggle-column="first" data-empty="There are no notes" data-show-toggle="true" >
  <thead>
    <tr>
      <th>DATE</th>
      <th>SUBJECT</th>
      <th data-breakpoints="xs">NOTES</th>
      <th data-breakpoints="xs">OPERATIONS</th>
    </tr>
  </thead>

  <tbody>
    <% for note in notes %>
      <tr>
        <td><%= note.date %></td>
        <td><%= note.subject %></td>
        <td><%= note.description.truncate(30) %></td>
        <td>
          <button class="clickable btn btn-primary" data-href="<%= activity_note_path(note, activity_id: @activity.id) %>">Edit</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= js_will_paginate notes %>
</div>

<script>
  $('.footable').footable();
</script>