<table class="table tableCustomStyle tableImg table-hover removeTblSearch bodrTop footable footable-6 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg" data-toggle-column="first" data-empty="There are no notes" data-show-toggle="true" >
  <thead>
    <tr>
      <th>DATE</th>
      <th>SUBJECT</th>
      <th data-breakpoints="xs">NOTES</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% for note in notes %>
      <tr>
        <td><a class="clickable" data-href="<%= activity_note_path(note, activity_id: @activity.id) %>"><%= note.date %></a></td>
        <td><a class="clickable" data-href="<%= activity_note_path(note, activity_id: @activity.id) %>"><%= note.subject %></a></td>
        <td><a class="clickable" data-href="<%= activity_note_path(note, activity_id: @activity.id) %>"><%= note.description.truncate(30) %></a></td>
        <td>
          <div class="openLeft moreOptions dropdown">
            <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button">
              <i class="icon md-more-vert" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item clickable" data-href="<%= activity_note_path(note, activity_id: @activity.id) %>" role="menuitem"><i class="icon <%= edit_view_class %>" aria-hidden="true"></i><%= can_write? ? 'Edit' : 'View' %></a>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= js_will_paginate notes %>
</div>

<script>
  $('.footable').footable();
</script>