<table class="table tableCustomStyle tableImg table-hover removeTblSearch bodrTop footable footable-6 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg" id="activitiesList" data-toggle-column="first" data-empty="There are no activities." data-show-toggle="true">
  <thead>
    <tr>
      <th>ACTIVITY NAME</th>
      <th>ACTIVITY TYPE</th>
      <th data-breakpoints="xs">CONTACT DATE</th>
      <th data-breakpoints="xs">CONVERTED</th>
      <th data-breakpoints="xs"></th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><a class="custom-href" href="<%= edit_company_activity_path(@company, activity) %>" data-turbolinks="false"><%= activity.name %></td>
        <td><a class="custom-href" href="<%= edit_company_activity_path(@company, activity) %>" data-turbolinks="false"><%= activity.company_activity_type.try(:name) %></td>
        <td><a class="custom-href" href="<%= edit_company_activity_path(@company, activity) %>" data-turbolinks="false"><%= activity.contact_date %></td>
        <td><a class="custom-href" href="<%= edit_company_activity_path(@company, activity) %>" data-turbolinks="false"><%= activity.converted ? "Yes" : "No" %></td>
        <td>
          <div class="openLeft moreOptions dropdown">
            <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button"> <i class="icon md-more-vert" aria-hidden="true"></i> </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item clickable" href="<%= edit_company_activity_path(@company, activity) %>" data-turbolinks="false" role="menuitem"><i class="icon fa fa-pencil" aria-hidden="true"></i> Edit</a>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= js_will_paginate @activities %>
</div>

<script>
  $('.footable').footable();
</script>