<table class="table table-hover dataTable table-striped w-full" id="existingContactsTable">
  <thead>
    <tr>
      <th>NAME</th>
      <th>ORGANIZATION</th>
      <th>PHONE</th>
      <th>EMAIL</th>
    </tr>
  </thead>

  <tbody>
    <% for contact in contacts %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.organization ? contact.organization.name : 'ORG' %></td>
        <td><%= contact.cell_phone %></td>
        <td><%= contact.email %></td>
        <td><%= button_to "Add To Project",attach_contact_to_project_project_contact_path(@project, contact), remote: true, data: { confirm: "Are you sure you want to add this contact to project?" }, class: "btn green-btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<div class="digg_pagination">
  <%= js_will_paginate contacts %>
</div>
<br/>