<table class="table tableCustomStyle tableImg table-hover removeTblSearch bodrTop footable footable-6 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg" data-toggle-column="first" data-empty="There are no files." data-show-toggle="true" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th data-breakpoints="xs">Members</th>
      <th data-breakpoints="xs">Date modified</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% for file in files %>
      <tr>
        <td><i class='icon themeColor <%= file.file_type == 'EDLT' ? "fa fa-file" : "fa fa-dropbox" %>'></i> <%= file.file_type == 'EDLT' ? File.basename(file.name.to_s) : file.file_name %></td>
        <td><%= (file.size.to_f/1000).round(1) %> kB </td>
        <td><%= file.user.full_name %></td>
        <td><%= file.updated_at.strftime("%m/%d/%Y") if file.updated_at.present? %></td>
        <td>
          <div class="openLeft moreOptions dropdown"> 
            <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button"> <i class="icon md-more-vert" aria-hidden="true"></i> </a>
            <div class="dropdown-menu" role="menu"> 
              <a class="dropdown-item" href="<%= file.file_type == 'EDLT' ? file.name : download_dropbox_file_dropbox_path(file) %>" role="menuitem" target="_blank"><i class="icon fa fa-download" aria-hidden="true"></i> Download</a>
              <% if file.file_type == 'EDLT' %>
                <a class="dropdown-item clickable" data-href="<%= edit_project_file_path(file, project_id: @project) %>" role="menuitem" data-toggle="modal" data-target="#viewContactModal1"><i class="icon fa fa-pencil" aria-hidden="true"></i> Edit</a> 
              <% end %>
              <a class="dropdown-item delete-clickable" data-href="<%= project_file_path(file, project_id: @project) %>" role="menuitem"><i class="icon md-delete" aria-hidden="true"></i> Delete</a> 
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= js_will_paginate files %>
</div>

<script>
  $('.footable').footable();
</script>