<%= render '/shared/settings_tab_headers' %>

<div class="orgInfoAlerts success"></div>
<div class="orgInfoErrors"></div>
<br>

<div class="panel">
  <header class="panel-heading">
    <div class="tasksTopOptions">
      <div class="row">
        <div class="col">
          <div class="tableTitle">
            <h2>Organization Details</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="panel-body">
    <%= form_for @organization, remote: true do |f| %>

      <div class="row">
        <div class="form-group col-md-4">
          <label id="inputActvityName">Name:</label>
          <%= f.text_field :name, class: "form-control", required: true %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :url %><br>
          <%= f.url_field :url, class: "form-control", disabled: true %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-3">
          <%= f.label :primary_contact_first_name %><br>
          <%= f.text_field :primary_contact_first_name, class: "form-control", required: true %>
        </div>
        <div class="form-group col-md-3">
          <%= f.label :primary_contact_last_name %><br>
          <%= f.text_field :primary_contact_last_name, class: "form-control", required: true %>
        </div>
        <div class="form-group col-md-3">
          <%= f.label :primary_contact_phone %><br>
          <%= f.text_field :primary_contact_phone, class: "form-control", required: true %>
        </div>
        <div class="form-group col-md-3">
          <%= f.label :primary_contact_email %><br>
          <%= f.email_field :primary_contact_email, class: "form-control", required: true %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label class="form-control-label">Logo:</label>
          <%= f.file_field :logo %>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>

    <% end %>
  </div>
</div>