<div class="panel panel-bordered">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><%= @organization.name %></h3>
  </div>
  <%= render 'form' %>
  <%= render 'users' %>
  <%= render 'payments' %>
  <%= render 'custom_modules' %>
</div>
<div id="editUser"></div>