<!-- Assign Email to Contact Modal -->
<div class="modal fade modalStyle" id="assignProjectToContact" aria-hidden="true" aria-labelledby="assignProjectToContact" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-simple modal-center">
    <div class="modal-content">
      <%= form_tag attach_project_or_activity_to_email_email_path(email), method: :post, remote: true do |form| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="addUserModalLabel">ADD PROJECT OR ACTIVITY</h4>
        </div>
        <div class="modal-body">
          <div class="example formStyle">
            <div class="row form-inline form-material">
              <div class="col-md-8">
                <div class="row">
                  <div class="form-inline col-md-3 col-6 custom-radioBtn">
                    <%= radio_button_tag :mailable_type, 'Project', true, id: 'user_active_true', class: "emailAttachCheckBox" %>
                    <label for="user_active_true">Project</label>
                  </div>
                  <div class="form-inline col-md-3 col-6 custom-radioBtn">
                    <%= radio_button_tag :mailable_type, 'Activity', false, id: 'user_active_false', class: "emailAttachCheckBox" %>
                    <label for="user_active_false">Activity</label>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row" id="selectProjectOrActivity" >
              <div class="form-group col-md-6">
                <label>Assign To Project:</label>
                <%= select_tag "mailable_id", options_for_select(load_data_with_id(current_org.projects)), class: 'form-control custom-select', id: "emailSelect" %>
                <%= hidden_field_tag 'email[mailable_type]', "Project" %>
              </div>
            </div>
          </div>
          <div class="modalFooterBtns">
            <button type="submit" class="btn btn-primary">Assign</button>
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- End Modal -->

<script>
  $(".emailAttachCheckBox").on("click", function () {
    data = $(this).val();
    if (data == "Project")
      $('#emailSelect').html('<%= j options_for_select(load_data_with_id(current_org.projects)) %>');
    else
      $('#emailSelect').html('<%= j options_for_select(load_data_with_id(current_org.activities)) %>');
//    $('.selectpicker').selectpicker('refresh')
  });
</script>