<table class="table tableCustomStyle tableImg table-hover removeTblSearch bodrTop footable footable-6 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg" data-toggle-column="first" data-empty="There are no emails" data-show-toggle="true">
  <thead>
    <tr>
      <th data-breakpoints="xs">SEND TO</th>
      <th>SEND BY</th>
      <th data-breakpoints="xs sm md">SUBJECT</th>
      <th data-breakpoints="xs md">ASSOCIATED CONTACT</th>
      <th data-breakpoints="xs md">ASSIGNED PROJECT/ACTIVITY</th>
      <th data-breakpoints="xs">DATE</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for email in emails %>
      <tr>
        <td><%= email.sent_to %></td>
        <td><%= email.sent_by %></td>
        <td><%= truncate(email.subject, length: 27) %></td>
        <% if email.contacts.count > 0 %>
          <td>
            <%= email.contacts.first.name %>
          </td>
        <% else %>
          <td>
            <% if write_access = can_write?('emails') %>
              <button data-href="<%= show_existing_contacts_email_path(email) %>" class="btn btn-primary clickable">
                <i class="fa fa-plus white"></i> Add
              </button>
            <% else %>
              Unassigned
            <% end %>
          </td>
        <% end %>
        <% if email.mailable_id? %>
          <td>
            <%= email.mailable.name %>
          </td>
        <% else %>
          <td>
            <% if write_access %>
              <button data-href="<%= show_existing_projects_and_activities_email_path(email) %>" class="btn btn-primary clickable">
                <i class="fa fa-plus white"></i> Add
              </button>
            <% else %>
              Unassigned
            <% end %>
          </td>
        <% end %>
        <td><%= filter_month_date_year(email.email_date) if email.email_date %></td>
        <td>
          <div class="openLeft moreOptions dropdown">
            <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button">
              <i class="icon md-more-vert" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item clickable" data-href="<%= email_path(email) %>" role="menuitem"><i class="icon fa fa-eye" aria-hidden="true"></i> View</a>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= js_will_paginate emails %>
</div>

<script>
  $('.footable').footable();
</script>