<table class="table tableCustomStyle tableImg table-hover removeTblSearch bodrTop footable footable-6 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg" data-toggle-column="first" data-empty="There are no emails" data-show-toggle="true">
  <thead>
    <tr>
      <th data-breakpoints="xs">SEND TO</th>
      <th>SEND BY</th>
      <th>SUBJECT</th>
      <th data-breakpoints="xs">ASSOCIATED CONTACT</th>
      <th data-breakpoints="xs">ASSIGNED PROJECT/ACTIVITY</th>
      <th data-breakpoints="xs">DATE</th>
      <th data-breakpoints="xs">OPERATIONS</th>
    </tr>
  </thead>
  <tbody>
    <% for email in emails %>
      <tr>
        <td><%= email.sent_to %></td>
        <td><%= email.sent_by %></td>
        <td><%= truncate(email.subject, length: 27) %></td>
        <% if email.contacts.count > 0 %>
          <td>
            <%= email.contacts.first.name %>
          </td>
        <% else %>
          <td>
            <button data-href="<%= show_existing_contacts_email_path(email) %>" class=" btn btn-xs green-btn clickable" ><i class="fa fa-plus white"></i> Add</button>
          </td>
        <% end %>
        <% if email.mailable_id? %>
          <td>
            <%= email.mailable.name %>
          </td>
        <% else %>
          <td>
            <button data-href="<%= show_existing_projects_and_activities_email_path(email) %>" class=" btn btn-xs green-btn clickable">
              <i class="fa fa-plus white"></i> Add
            </button>
          </td>
        <% end %>
        <td><%= email.email_date.strftime("%m/%d/%Y") if email.email_date %></td>
        <td>
          <button class="clickable btn btn-sm green-btn" data-href="<%= email_path(email) %>">Edit</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= js_will_paginate emails %>
</div>

<script>
  $('.footable').footable();
</script>