<table class="table table-hover dataTable table-striped w-full">
  <thead>
    <tr>
      <th>SEND TO</th>
      <th>SEND BY</th>
      <th>SUBJECT</th>
      <th>ASSOCIATED CONTACT</th>
      <th>ASSIGNED PROJECT</th>
      <th>DATE</th>
    </tr>
  </thead>
  <tbody>
    <% for email in emails %>
      <tr data-href="<%= email_path(email) %>" class="clickable">
        <td><%= email.sent_to %></td>
        <td><%= email.sent_by %></td>
        <td><%= truncate(email.subject, length: 27) %></td>
        <% if email.contacts.count > 0 %>
          <td>
            <%= email.contacts.first.name %>
          </td>
        <% else %>
          <td>
            <button data-href="<%= show_existing_contacts_email_path(email) %>" class="add-contact btn btn-xs green-btn" ><i class="fa fa-plus white"></i> Add</button>
          </td>
        <% end %>
        <% if email.project.present? %>
            <td>
              <%= email.project.name %>
            </td>
        <% else %>
            <td data-href="<%= show_existing_projects_email_path(email) %>" class="add-project">
              <i class="fa fa-plus"></i> Add
            </td>
        <% end %>
        <td><%= email.email_date.strftime("%m/%d/%Y") if email.email_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= js_will_paginate emails %>
</div>