<table class="table tableCustomStyle tableImg table-hover removeTblSearch bodrTop footable footable-6 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg" id="activitiesList" data-toggle-column="first" data-empty="There are no activities." data-show-toggle="true">
  <thead>
    <tr>
      <th>ACTIVITY NAME</th>
      <th>ACTIVITY TYPE</th>
      <th data-breakpoints="xs">COMPANY NAME</th>
      <th data-breakpoints="xs">CONTACT DATE</th>
      <th data-breakpoints="xs">CONVERTED</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <% edit_href = @company ? edit_company_activity_path(@company, activity) : edit_activity_path(activity) %>
        <td><a class="custom-href" href="<%= edit_href %>" data-turbolinks="false"><%= activity.name %></a></td>
        <td><a class="custom-href" href="<%= edit_href %>" data-turbolinks="false"><%= activity.company_activity_type.try(:name) %></a></td>
        <td><a class="custom-href" href="<%= current_org.enabled_default_module?('companies') && activity.try(:company) ? edit_company_path(activity.company) : 'javascript:void(0)' %>" data-turbolinks="false"><%= activity.company ? activity.company.name : "Unassigned" %></a></td>
        <td><a class="custom-href" href="<%= edit_href %>" data-turbolinks="false"><%= activity.contact_date %></a></td>
        <td><a class="custom-href" href="<%= edit_href %>" data-turbolinks="false"><%= activity.converted ? "Yes" : "No" %></a></td>
        <td>
          <div class="openLeft moreOptions dropdown">
            <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button">
              <i class="icon md-more-vert" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" href="<%= edit_href %>" role="menuitem" data-turbolinks="false"><i class="icon fa fa-eye" aria-hidden="true"></i> View</a>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= js_will_paginate @activities %>
</div>

<script>
  $('.footable').footable();
</script>