<header>
  <div class="headerSection">
    <div class="container">
      <div class="logo">
        <a href="<%= logo_redirect_path %>"><%= render '/layouts/logo_svg' %></a>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="rightImgBg loginPage">
    <div class="container">
      <div class="formSection">
        <div class="formTitle">
          <h3>Forgot your password?</h3>
        </div>
        <div class="formStyle">
          <div class="new-password-form">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, remote: true }) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="email">Email:</label>
                  <%= f.email_field :email, autofocus: true, class: "form-control outlineFld" %>
                </div>
              </div>
              <div class="formBtnSection">
                <%= f.submit "Send Me Reset Instructions" , class: "btn primaryBtn" %>
              </div>
            <% end %>
          </div>
          <div class="formBtmLink"><%= link_to "Sign In as Super Admin.", new_admin_session_path %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="pageBg">
    <div class="pageBgCircle circleOne"></div>
    <div class="pageBgCircle circleTwo"></div>
    <div class="pageBgCircle circleThree"></div>
  </div>
  
</section>
