<table class="table table-striped table-hover toggle-circle footable" data-toggle-column="first" data-empty="There are no sites/buildings" data-show-toggle="true">
  <thead>
  <tr>
    <th>PROPERTY #</th>
    <th>NAME</th>
    <th data-breakpoints="xs">ZIP</th>
    <th data-breakpoints="xs">OPERATIONS</th>
  </tr>
  </thead>
  <tbody>
    <% sites.each do |site| %>
        <tr>
          <td><%= site.site_number %></td>
          <td><%= site.property_name %></td>
          <td><%= site.zip_code %></td>
          <td>
            <button class="clickable btn btn-sm green-btn" data-href="<%= @project ? project_site_path(@project, site) : site_path(site) %>">Edit</button>
          </td>
      </tr>
        </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= js_will_paginate sites %>
</div>

<script>
  $('.footable').footable();
</script>