<table class="table table-hover dataTable table-striped w-full">
  <thead>
  <tr>
    <th>PROPERTY #</th>
    <th>NAME</th>
    <th>ZIP</th>
  </tr>
  </thead>
  <tbody>
  <% @sites.each do |site| %>
      <tr data-href="<%= site_path(site) %>" class="clickable">
        <td><%= site.property_number %></td>
        <td><%= site.property_name %></td>
        <td><%= site.zip_code %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= js_will_paginate sites %>
</div>
