<div class="row">
  <div class="col-xl-8">
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          <button class="btn btn-sm green-btn waves-effect waves-classic" data-href="<%= new_site_path %>"
            id="createNewSite" type="button">ADD SITE/ BUILDING
          </button>
        </h3>
      </header>
      <div class="panel-body">
        <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" id="sitesList">
          <thead>
            <tr>
              <th>PROPERTY #</th>
              <th>NAME</th>
              <th>ZIP</th>
            </tr>
          </thead>
          <tbody>
            <% @sites.each do |site| %>
              <tr data-href="<%= site_path(site) %>">
                <td><%= site.property_number %></td>
                <td><%= site.property_name %></td>
                <td><%= site.zip_code %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="digg_pagination">
          <%= will_paginate @sites, :container => false %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
        </h3>
      </header>
      <div class="panel-body">
        <%= form_tag sites_path, method: :get do %>
          <div class="row">
            <div class="form-group form-material col-md-8">
              <label class="form-control-label">Property #:</label>
              <input type="text" name="property_number" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="form-group form-material col-md-8">
              <label class="form-control-label">Name:</label>
              <input type="text" name="property_name" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="form-group form-material col-md-8">
              <label class="form-control-label">Zip:</label>
              <input type="text" name="zip_code" class="form-control">
            </div>
          </div>
          <div class="form-group form-material col-md-8">
            <button type="submit" class="btn btn-sm green-btn">Update List</button>
            <%= link_to 'Clear All Filter', sites_path, class: 'btn btn-sm site-filter-clear' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<div id="createOrEditSite"></div>
<%= javascript_include_tag "sites.js" %>