<% if notice.present? %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= notice %>
    </div>
<% end %>


<div class="row">
  <div class="col-xl-12">
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          <button class="btn btn-sm green-btn waves-effect waves-classic" data-href="<%#= new_organization_contact_path(@organization) %>"
                  id="createNewContact" type="button">ADD SITE/ BUILDING
          </button>
        </h3>
      </header>
      <div class="panel-body">
        <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" id="contactsList">

          <thead>
          <tr>
            <th>PROPERTY #</th>
            <th>NAME</th>
            <th>ZIP</th>
          </tr>
          </thead>

          <tbody>
          <% @sites.each do |site| %>
              <tr data-href="<%#= organization_contact_path(@organization, contact) %>">
                <td><%= site.property_number %></td>
                <td><%= contact.organization ? contact.organization.name : "ORG" %></td>
                <td><%= contact.cell_phone %></td>
                <td><%= contact.email %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="digg_pagination">
          <%= will_paginate @contacts, :container => false %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="createOrEditContact"></div>
<%= render :partial => 'contacts/import_contacts_form', locals: {organization: @organization} %>

<script>
    $(document).on("click", "#contactsList tr", function () {
        var link = $(this).data("href");
        $.ajax({
            url: link,
            type: "GET"
        });
    });

    $(document).on("click", "#createNewContact", function () {
        var link = $(this).data("href");
        $.ajax({
            url: link,
            type: "GET"
        });
    });

    function showUploadFileName(input) {
        if (input.files && input.files[0]) {
            $('.fileName').html(input.files[0].name);
        }
    }

    $(document).on("click", "#fakeFileUploadBtn", function () {
        $('#contactsFileUploadHidden').click();
    });
    $("#contactsFileUploadHidden").change(function () {
        showUploadFileName(this);
    });
</script>


<p id="notice"><%= notice %></p>

<h1>Sites</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Peoperty number</th>
      <th>Propoerty name</th>
      <th>Type</th>
      <th>Address line</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Country</th>
      <th>Available acreage</th>
      <th>Available square feet</th>
      <th>Tota acreage</th>
      <th>Total square feet</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.organization_id %></td>
        <td><%= site.peoperty_number %></td>
        <td><%= site.propoerty_name %></td>
        <td><%= site.type %></td>
        <td><%= site.address_line %></td>
        <td><%= site.city %></td>
        <td><%= site.state %></td>
        <td><%= site.zip_code %></td>
        <td><%= site.country %></td>
        <td><%= site.available_acreage %></td>
        <td><%= site.available_square_feet %></td>
        <td><%= site.tota_acreage %></td>
        <td><%= site.total_square_feet %></td>
        <td><%= site.latitude %></td>
        <td><%= site.longitude %></td>
        <td><%= link_to 'Show', site %></td>
        <td><%= link_to 'Edit', edit_site_path(site) %></td>
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path %>
