<% breadcrumb :sites %>
<div class="section-info-flash"></div>
<div class="error-messages"></div>
<div class="row">
  <div class="col-xl-8">
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          <div class="row">
            <div class="col-md-4">
              <h4> Sites/Buildings</h4>
            </div>
          </div>
        </h3>
      </header>
      <header class="panel-heading">
        <% if write_access = can_write? %>
          <div class="tasksTopOptions">
              <div class="form-row">
                <div class="col">
                  <div class="tasksRightOptions">
                    <div class="tasksSelectFilter">
                      <button class="btn btn-default waves-effect waves-classic clickable" data-href="<%= new_site_path %>"
                              id="createNewSite" type="button">
                        <i class="icon fa fa-plus btnIcon" aria-hidden="true"></i> Add Site/Building
                      </button>
                    </div>
                    <% if can_access_imports = current_org.enabled_default_module?('imports') %>
                        <div class="tasksSelectFilter">
                          <button class="btn btn-default waves-effect waves-classic" data-target="#siteImportFormCenter" data-toggle="modal"
                                  id="importNewSites" type="button">Excel Import
                          </button>
                        </div>
                        <div class="tasksSelectFilter">
                          <button class="btn btn-default waves-effect waves-classic" data-target="#siteLoisImportFormCenter" data-toggle="modal"
                                  id="importNewSites" type="button">LOIS Import
                          </button>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </header>
      <div class="panel-body" id="sitesList">
        <%= render partial: 'sites', locals: {sites: @sites} %>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <%= render partial: 'filters', locals: {controller: 'sites', action: 'index'} %>
  </div>
</div>
<div id="createOrEditSite"></div>

<% if can_access_imports && write_access %>
  <%= render :partial => 'sites/import_sites_form' %>
  <%= render :partial => 'sites/lois_import_form' %>
<% end %>