<% if notice.present? %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= notice %>
    </div>
<% end %>


<div class="row">
  <div class="col-xl-8">
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          <button class="btn btn-sm green-btn waves-effect waves-classic" data-href="<%= new_organization_site_path(@organization) %>"
                  id="createNewSite" type="button">ADD SITE/ BUILDING
          </button>
        </h3>
      </header>
      <div class="panel-body">
        <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" id="contactsList">

          <thead>
          <tr>
            <th>PROPERTY #</th>
            <th>NAME</th>
            <th>ZIP</th>
          </tr>
          </thead>

          <tbody>
          <% @sites.each do |site| %>
              <tr data-href="<%#= organization_contact_path(@organization, contact) %>">
                <td><%= site.property_number %></td>
                <td><%= site.property_name %></td>
                <td><%= site.zip_code %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="digg_pagination">
          <%#= will_paginate @sites, :container => false %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="createOrEditSite"></div>

<script>
    $(document).on("click", "#contactsList tr", function () {
        var link = $(this).data("href");
        $.ajax({
            url: link,
            type: "GET"
        });
    });

    $(document).on("click", "#createNewSite", function () {
        var link = $(this).data("href");
        $.ajax({
            url: link,
            type: "GET"
        });
    });

    function showUploadFileName(input) {
        if (input.files && input.files[0]) {
            $('.fileName').html(input.files[0].name);
        }
    }

    $(document).on("click", "#fakeFileUploadBtn", function () {
        $('#contactsFileUploadHidden').click();
    });
    $("#contactsFileUploadHidden").change(function () {
        showUploadFileName(this);
    });
</script>
