<div class="panel">
  <div class="panel-body">
		<div class="borderTitle">
			<div class="cardTopTitle"><h3>Report Parameters</h3></div>
			<div class="form-row nowrapBtn">
				<div class="form-group col-md">
					<button type="submit" class="btn btn-primary btn-block" id="pdf-report-btn">Download PDF</button>
				</div>
				<div class="form-group col-md">
					<button type="submit" class="btn btn-outline-primary btn-block" id="xls-report-btn">Download XLS</button>
				</div>
			</div>

			<div class="form-row nowrapBtn">
				<div class="form-group col-md">
					<button type="button" data-href="<%= yearly_reports_path %>" id="filter-periodic-report" class="btn btn-outline-primary btn-block">Apply Filters</button>
				</div>
				<div class="form-group col-md">
					<%= link_to 'Reset Default', yearly_reports_path, class: 'btn btn-outline-primary btn-block', data: { turbolinks: false } %>
				</div>
			</div>
		</div>
    <%= hidden_field_tag 'type', nil, id: 'hiddenBusinessType' %>
    <%= hidden_field_tag 'format', 'pdf', id: 'hiddenReportFormat' %>
    <div class="row reportGenerationForm">
      <div class="col-md-12">
        <div class="form-group">
          <label class="form-control-label">Year:</label>
          <%= select_tag 'year', options_for_select((1990..Date.today.year).to_a.reverse), class: 'form-control', data: { plugin: "selectpicker" }, id: 'yearToStartReport' %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label class="form-control-label">Years to compare:</label>
          <%= select_tag 'year_to_compare', options_for_select((3..10).to_a), class: 'form-control', data: { plugin: "selectpicker" }, id: 'yearToCompareReport' %>
        </div>
      </div>

      <div class="col-md-12 mt-15">
        <% report_parameters.each_with_index do |param, indx|%>
          <div class="form-group">
            <%= check_box_tag "report_params[#{param[:field]}][]", nil, true, {id: "field_#{param[:field]}"} %>
            <%= param[:name] %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>