<div class="panel">
  <div class="panel-body">
    <strong>Reporting Parameters</strong>
    <div class="row mb-10 mt-10">
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary" id="pdf-report-btn">Generate Report</button>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-outline-primary" id="xls-report-btn">Generate Data</button>
      </div>
    </div>
    <div class="row mb-10 mt-10">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button type="button" data-href="<%= yearly_reports_path %>" id="filter-periodic-report" class="btn btn-outline-primary" id="xls-report-btn">Filter Report</button>
      </div>
    </div>
    <%= hidden_field_tag 'type', nil, id: 'hiddenBusinessType' %>
    <%= hidden_field_tag 'report_format', 'pdf', id: 'hiddenReportFormat' %>
    <div class="row reportGenerationForm">
      <div class="col-md-12">
        <div class="form-group">
          <label class="form-control-label">Year:</label>
          <%= select_tag 'year', options_for_select((1990..Date.today.year).to_a.reverse), class: 'form-control', data: { plugin: "selectpicker" }, id: 'yearToStartReport' %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label class="form-control-label">Years to compare:</label>
          <%= select_tag 'years_to_compare', options_for_select((3..10).to_a), class: 'form-control', data: { plugin: "selectpicker" }, id: 'yearToCompareReport' %>
        </div>
      </div>

      <div class="col-md-12 mt-15">
        <% report_parameters.each_with_index do |param, indx|%>
          <div class="form-group">
            <%= check_box_tag "report_params[#{param[:field]}][]", nil, true, {id: "field_#{param[:field]}"} %>
            <%= param[:name] %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>