<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <%= wicked_pdf_stylesheet_link_tag 'chartist.min.css' %>
  <%= wicked_pdf_stylesheet_link_tag 'chartist-plugin-tooltip.css' %>
  <%= wicked_pdf_javascript_include_tag 'chartist.min'%>
  <%= wicked_pdf_javascript_include_tag 'chartist-plugin-tooltip.min'%>
  <%= wicked_pdf_javascript_include_tag 'masonry.pkgd.min'%>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class="static_html_body">
<div class="row">
  <div class="col-md-6">
		<% if @selected_parameters.include?('status') %>
			<div class="row">
				<div class="col-md-12">
					<div class="panel mb-10">
						<div class="panel-body">
							<div class="panel-header">
								<strong class="font-weight-bold">Business Prospect</strong>
							</div>
							<div class="ct-chart" id="businessProspectBar"></div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
		<% if @selected_parameters.include?('project_type_id') %>
			<div class="row">
				<div class="col-md-12">
					<div class="panel mb-10">
						<div class="panel-body">
							<div class="panel-header">
								<strong class="font-weight-bold">Prospects By Type</strong>
							</div>
							<div class="ct-chart" id="prospectsByTypeBar"></div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
  </div>

	<% if @selected_parameters.include?('industry_type_id_comp') %>
		<div class="col-md-6">
			<div class="panel mb-10">
				<div class="panel-body">
					<div class="panel-header">
						<strong class="font-weight-bold">Industry Type Comparison</strong>
					</div>
					<div class="ct-chart" id="industryTypeComparisonBar"></div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<div class="row">
	<% if @selected_parameters.include?('project_type_id_comp') %>
		<div class="col-md-6">
			<div class="panel mb-10">
				<div class="panel-body">
					<div class="panel-header">
						<strong class="font-weight-bold">Prospects By Type Comparison</strong>
					</div>
					<div class="ct-chart" id="prospectsByTypeComparisonBar"></div>
				</div>
			</div>
		</div>
	<% end %>

	<% if @selected_parameters.include?('source_id_comp') || @selected_parameters.include?('source_id_comp') %>
		<div class="col-md-6">
			<div class="panel mb-10">
				<div class="panel-body">
					<div class="panel-header">
						<strong class="font-weight-bold">Prospect Lead Sources Comparison</strong>
					</div>
					<div class="ct-chart" id="prospectLeadSourcesComparisonBar"></div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<div class="row">
	<% if @selected_parameters.include?('acres_requested') %>
		<div class="row">
			<div class="col-md-12">
				<div class="panel mb-10">
					<div class="panel-body">
						<div class="panel-header">
							<strong class="font-weight-bold">Acres Requested</strong>
						</div>
						<div class="ct-chart" id="acresRequestedProspectBar"></div>
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<% if @selected_parameters.include?('square_feet_requested') %>
		<div class="row">
			<div class="col-md-12">
				<div class="panel mb-10">
					<div class="panel-body">
						<div class="panel-header">
							<strong class="font-weight-bold">Square Feet Requested</strong>
						</div>
						<div class="ct-chart" id="squareFeetRequestedProspectBar"></div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<div class="row">
	<% if @selected_parameters.include?('net_new_investment') %>
		<div class="col-md-6">
			<div class="panel mb-10">
				<div class="panel-body">
					<div class="panel-header">
						<strong class="font-weight-bold">Total New Investment</strong>
					</div>
					<div class="ct-chart" id="totalNewInvestmentBar"></div>
				</div>
			</div>
		</div>
	<% end %>

	<% if @selected_parameters.include?('industry_type_id') %>
		<div class="col-md-6">
			<div class="panel mb-10">
				<div class="panel-body">
					<div class="panel-header">
						<strong class="font-weight-bold">Industry Type</strong>
					</div>
					<div class="ct-chart" id="prospectsByIndustryTypeBar"></div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel mb-10">
      <div class="panel-body">
        <div class="panel-header">
          <strong class="font-weight-bold">Total Numbers</strong>
        </div>

        <div id="widgetLineareaOne">
          <div class="card-block p-20 pt-10">
            <div class="mb-20 grey-500">
              <i class="fa fa-caret-down red-500 font-size-18"></i>
              <strong class="font-size-18 black"><%= @results['retained_jobs'].values.sum %></strong>
              <small>Total Numbers of Retained Jobs</small>
            </div>
            <div class="mb-20 grey-500">
              <i class="fa fa-caret-up green-500 font-size-18"></i>
              <strong class="font-size-18 black"><%= @results['new_jobs'].values.sum %></strong>
              <small>Total Numbers of New Jobs</small>
            </div>
            <div class="mb-20 grey-500">
              <i class="fa fa-caret-up green-500 font-size-18"></i>
              <strong class="font-size-18 black">$<%= @results['net_new_investment'].values.sum %></strong>
              <small>Total Number of New Investment</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

	<% if @selected_parameters.include?('elimination_reason_id') %>
		<div class="col-md-6">
			<div class="panel mb-10">
				<div class="panel-body">
					<div class="panel-header">
						<strong class="font-weight-bold">Elimination Reason Chart</strong>
					</div>
					<div class="ct-chart" id="eliminationReasonStack"></div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<script>
  $(document).ready(function ($) {

    setTimeout(function () {
      loadIndustryTypeComparison();
      loadProspectsByTypeComparison();
      loadProspectLeadSourcesComparison();
      loadBusinessProspectBar();
      loadProspectsByProjectType();
      loadProspectsByIndustryType();
      loadTotalNewInvestment();
      loadEliminationReasonStack();
      loadAcresRequestedProspectBar();
      loadSquareFeetRequestedProspectBar();
    }, 1);


    function loadIndustryTypeComparison() {
      var labels = <%=raw current_org.industry_types.pluck(:name) %>;
      var seriesList = <%=raw get_associated_types(@results, 'industry_type_id') %>;
      loadComparisonCharts(labels, seriesList, '#industryTypeComparisonBar');
    }

    function loadProspectsByTypeComparison() {
      var labels = <%=raw current_org.project_types.pluck(:name) %>;
      var seriesList = <%=raw get_associated_types(@results, 'project_type_id') %>;
      loadComparisonCharts(labels, seriesList, '#prospectsByTypeComparisonBar');
    }

    function loadProspectLeadSourcesComparison() {
      var labels = <%=raw current_org.sources.pluck(:name) %>;
      var seriesList = <%=raw get_associated_types(@results, 'source_id') %>;
      loadComparisonCharts(labels, seriesList, '#prospectLeadSourcesComparisonBar');
    }

    function loadComparisonCharts(labels, seriesList, selector) {
      var labelsHeight = labels.length * 40 * 2;

      new Chartist.Bar(selector, {
        labels: labels,
        series: seriesList
      }, {
        horizontalBars: true,
        height: labelsHeight + 'px',
        axisX: {onlyInteger: true},
        axisY: {offset: 70},
        plugins: [
          Chartist.plugins.tooltip()
        ]
      });
    }

    function loadBusinessProspectBar() {
      var seriesList = [<%=raw get_generic_prospect_total(@results, 'status', Project::STATUS) %>];
      var labels = seriesList[0].map(function (a) {
        return a.meta
      });
      new Chartist.Bar('#businessProspectBar', {
        labels: labels,
        series: seriesList
      }, {
        horizontalBars: true,
        axisX: {onlyInteger: true},
        axisY: {offset: 70},
        plugins: [
          Chartist.plugins.tooltip()
        ]
      });
    }

    function loadAcresRequestedProspectBar() {
      var seriesList = [<%=raw get_generic_prospect_total(@results, 'acres_requested', Project::ACRES_REQUESTED) %>];
      var labels = seriesList[0].map(function (a) {
        return a.meta
      });
      new Chartist.Bar('#acresRequestedProspectBar', {
        labels: labels,
        series: seriesList
      }, {
        horizontalBars: true,
        axisX: {onlyInteger: true},
        axisY: {offset: 70},
        plugins: [
          Chartist.plugins.tooltip()
        ]
      });
    }

    function loadSquareFeetRequestedProspectBar() {
      var seriesList = [<%=raw get_generic_prospect_total(@results, 'square_feet_requested', Project::SQUARE_FEET_REQUESTED) %>];
      var labels = seriesList[0].map(function (a) {
        return a.meta
      });
      new Chartist.Bar('#squareFeetRequestedProspectBar', {
        labels: labels,
        series: seriesList
      }, {
        horizontalBars: true,
        axisX: {onlyInteger: true},
        axisY: {offset: 70},
        plugins: [
          Chartist.plugins.tooltip()
        ]
      });
    }

    function loadProspectsByProjectType() {
      var data = {
        series: <%=raw get_associated_types_total(@results, 'project_type_id') %>
      };
      loadProspectsByDifferentType(data, '#prospectsByTypeBar');
    }

    function loadProspectsByIndustryType() {
      var data = {
        series: <%=raw get_associated_types_total(@results, 'industry_type_id') %>
      };
      loadProspectsByDifferentType(data, '#prospectsByIndustryTypeBar');
    }

    function loadTotalNewInvestment() {
      var labels = <%=raw @results['net_new_investment'].keys %>;
      var seriesList = [
        <%=raw @results['net_new_investment'].values %>
      ];
      new Chartist.Bar('#totalNewInvestmentBar', {
        labels: labels,
        series: seriesList
      }, {
        axisX: {onlyInteger: true},
        axisY: {offset: 70},
        plugins: [
          Chartist.plugins.tooltip()
        ]
      });
    }

    function loadEliminationReasonStack() {
      var labels = <%=raw current_org.elimination_reasons.pluck(:name) %>;
      var seriesList = <%=raw get_associated_types(@results, 'elimination_reason_id') %>;
      new Chartist.Bar('#eliminationReasonStack', {
        labels: labels,
        series: seriesList
      }, {
        stackBars: true,
        axisX: {onlyInteger: true},
        axisY: {offset: 70},
        plugins: [
          Chartist.plugins.tooltip()
        ]
      });
    }

    function loadProspectsByDifferentType(data, selector) {

      var sum = function (a, b) {
        return a + b.value
      };

      new Chartist.Pie(selector, data, {
        labelInterpolationFnc: function (value, idx) {
          return Math.round(value / data.series.reduce(sum, 0) * 100) + '%';
        },
        plugins: [Chartist.plugins.tooltip()]
      });
    }

  });
</script>

<style>
  .panel-body {
    padding: 15px;
  }
  .col-xl-9, .col-xl-3{
    padding: 0 5px;
  }
  .font-weight-bold{
    font-weight: 900 !important;
  }
  .ct-chart .ct-bar{
    stroke-width: 5px;
  }
</style>

</body>
</html>