<%= wicked_pdf_javascript_include_tag "highcharts" %>
<%= wicked_pdf_javascript_include_tag "highcharts/modules/exporting" %>
<%= wicked_pdf_javascript_include_tag "highcharts/modules/no-data-to-display" %>
<%= wicked_pdf_javascript_include_tag "highcharts/modules/offline-exporting" %>
<%= wicked_pdf_javascript_include_tag "highcharts/themes/grid" %>

<div id="container"></div>

<%= render 'highchart_script'%>
