<div class="row all-reports">
  <div class="col-md-12">

    <div class="panel activitiesTabOptions">
      <header class="panel-heading">
        <div class="tasksTopOptions">
          <div class="row flex-sm-row-reverse">
            <div class="col-sm align-self-center">
              <div class="tableTitle">
                <h2>Reports</h2>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="panel-body tableDesign">
        <table class="table tableCustomStyle tableImg table-hover removeTblSearch bodrTop footable footable-6 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg">
          <thead>
          <tr>
            <th data-breakpoints="xs">Report Title</th>
            <th data-breakpoints="xs">Report Details</th>
            <th data-breakpoints="xs"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-center"><a class="custom-href" href="<%= projects_reports_path() %>">Successful Project Data</td>
            <td><a class="custom-href" href="<%= projects_reports_path() %>">Covers visitations, new investments, new jobs, site/building referrals and etc. for specified dates.
            </td>
            <td>
              <div class="openLeft moreOptions dropdown">
                <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button">
                  <i class="icon md-more-vert" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" href="<%= projects_reports_path() %>" data-turbolinks="false" role="menuitem"><i class="icon fa fa-eye" aria-hidden="true"></i>
                    View</a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center"><a class="custom-href" href="<%= sites_reports_path() %>">Site/Building Referrals</td>
            <td><a class="custom-href" href="<%= sites_reports_path() %>">Site/Building referral data for specified dates.</td>
            <td>
              <div class="openLeft moreOptions dropdown">
                <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button">
                  <i class="icon md-more-vert" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" href="<%= sites_reports_path() %>" data-turbolinks="false" role="menuitem"><i class="icon fa fa-eye" aria-hidden="true"></i>
                    View</a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
          <tr>
            <td class="text-center"><a class="custom-href" href="<%= yearly_reports_path() %>" data-turbolinks="false">Yearly Activity</td>
            <td><a class="custom-href" href="<%= yearly_reports_path() %>" data-turbolinks="false">Graphical reports that break down data along various categories with current year and
              year to year comparisons for new and existing business.
            </td>
            <td>
              <div class="openLeft moreOptions dropdown">
                <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button">
                  <i class="icon md-more-vert" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" href="<%= yearly_reports_path() %>" data-turbolinks="false" role="menuitem"><i class="icon fa fa-eye" aria-hidden="true"></i>
                    View</a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center"><a class="custom-href" href="<%= monthly_reports_path() %>" data-turbolinks="false">Monthly Activity</td>
            <td><a class="custom-href" href="<%= monthly_reports_path() %>" data-turbolinks="false">Graphical reports that break down data along various categories with current year and
              year to year comparisons for a specific month for new and existing business.
            </td>
            <td>
              <div class="openLeft moreOptions dropdown">
                <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button">
                  <i class="icon md-more-vert" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" href="<%= monthly_reports_path() %>" data-turbolinks="false" role="menuitem"><i class="icon fa fa-eye" aria-hidden="true"></i>
                    View</a>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>