<% side_bar_default_modules.each do |general_module| %>
  <li class="site-menu-item has-sub data-exports <%= active_class(general_module.controller_name) %>">
    <a href="/<%= general_module.controller_name %>">
      <% icon, content = module_icon(general_module.controller_name) %>
      <i class="site-menu-icon <%= icon %>" aria-hidden="true"><%= content %></i>
      <span class="site-menu-title"><%= general_module.name %></span>
      <% unless general_module.controller_name == 'dashboard' %>
        <span class="site-menu-arrow"></span>
      <% end %>
    </a>
  </li>
<% end %>

<% enabled_custom_modules_list.each do |custom_module| %>
  <li class="site-menu-item has-sub <%= active_class(custom_module.controller_name) %>">
    <a href="/<%= custom_module.controller_name %>">
      <i class="site-menu-icon fa fa-cube" aria-hidden="true"></i>
      <span class="site-menu-title"><%= custom_module.name %></span>
      <span class="site-menu-arrow"></span>
    </a>
  </li>
<% end %>

<li class="site-menu-item">
  <a href="<%= current_user.is_admin? ? manage_users_path : my_details_path %>">
    <i class="site-menu-icon md-settings" aria-hidden="true"></i>
    <span class="site-menu-title">Settings</span>
  </a>
</li>
<li class="site-menu-item">
  <a href="<%= destroy_user_session_path %>">
    <i class="site-menu-icon md-power" aria-hidden="true"></i>
    <span class="site-menu-title">SignOut</span>
  </a>
</li>
