<li class="site-menu-item has-sub <%= active_class('tasks') %>">
  <a href="<%= tasks_path %>">
    <i class="site-menu-icon fa fa-tasks" aria-hidden="true"></i>
    <span class="site-menu-title">Tasks</span>
    <span class="site-menu-arrow"></span>
  </a>
</li>
<li class="site-menu-item has-sub <%= active_class('emails') %>">
  <a href="<%= emails_path %>">
    <i class="site-menu-icon fa fa-envelope" aria-hidden="true"></i>
    <span class="site-menu-title">Mailbox</span>
    <span class="site-menu-arrow"></span>
  </a>
</li>
<li class="site-menu-item has-sub <%= active_class('activities') %>">
  <a href="<%= activities_path %>">
    <i class="site-menu-icon fa fa-handshake-o" aria-hidden="true"></i>
    <span class="site-menu-title">Activities</span>
    <span class="site-menu-arrow"></span>
  </a>
</li>
<li class="site-menu-item has-sub <%= active_class('contacts') %>">
  <a href="<%= contacts_path %>">
    <i class="site-menu-icon fa fa-address-book-o" aria-hidden="true"></i>
    <span class="site-menu-title">Contacts</span>
    <span class="site-menu-arrow"></span>
  </a>
</li>
<li class="site-menu-item has-sub <%= active_class('projects') %>">
  <a href="/projects">
    <i class="site-menu-icon fa fa-gears" aria-hidden="true"></i>
    <span class="site-menu-title">Projects</span>
    <span class="site-menu-arrow"></span>
  </a>
</li>
<li class="site-menu-item has-sub <%= active_class('companies') %>">
  <a href="/companies">
    <i class="site-menu-icon fa fa-building-o" aria-hidden="true"></i>
    <span class="site-menu-title">Companies</span>
    <span class="site-menu-arrow"></span>
  </a>
</li>
<li class="site-menu-item has-sub <%= active_class('sites') %>">
  <a href="<%= sites_path %>">
    <i class="site-menu-icon material-icons" aria-hidden="true">&#xe7ee;</i>
    <span class="site-menu-title">Sites & Buildings</span>
    <span class="site-menu-arrow"></span>
  </a>
</li>
<li class="site-menu-item has-sub <%= active_class('reports') %>">
  <a href="<%= reports_path %>">
    <i class="site-menu-icon fa fa-file-text-o" aria-hidden="true"></i>
    <span class="site-menu-title">Reports</span>
    <span class="site-menu-arrow"></span>
  </a>
</li>
<li class="site-menu-item has-sub <%= active_class('files') %>">
  <a href="<%= files_path %>">
    <i class="site-menu-icon fa fa-files-o" aria-hidden="true"></i>
    <span class="site-menu-title">Files</span>
    <span class="site-menu-arrow"></span>
  </a>
</li>
<li class="site-menu-item has-sub <%= active_class('imports') %>">
  <a href="<%= imports_path %>">
    <i class="site-menu-icon fa fa-file-excel-o" aria-hidden="true"></i>
    <span class="site-menu-title">Data Imports</span>
    <span class="site-menu-arrow"></span>
  </a>
</li>
<li class="site-menu-item has-sub data-exports <%= active_class('exports') %>">
  <a href="<%= exports_path %>">
    <i class="site-menu-icon fa fa-file-excel-o" aria-hidden="true"></i>
    <span class="site-menu-title">Data Exports</span>
    <span class="site-menu-arrow"></span>
  </a>
</li>
<li class="site-menu-item">
  <a href="<%= manage_users_path %>">
    <i class="site-menu-icon md-settings" aria-hidden="true"></i>
    <span class="site-menu-title">Settings</span>
  </a>
</li>
<li class="site-menu-item">
  <a href="<%= destroy_user_session_path %>">
    <i class="site-menu-icon md-power" aria-hidden="true"></i>
    <span class="site-menu-title">SignOut</span>
  </a>
</li>
