<div class="site-menubar site-menubar-dark">
  <div class="site-menubar-body scrollable scrollable-inverse is-enabled scrollable-vertical" style="position: relative;">
    <div>
      <div>
        <ul class="site-menu" data-plugin="menu">
          <li class="site-menu-item active">
            <a class="animsition-link" href="<%= dashboard_index_path %>">
              <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
              <span class="site-menu-title">Home</span>
            </a>
          </li>
          <li class="site-menu-item has-sub">
            <a href="<%= tasks_path %>">
              <i class="site-menu-icon md-apps" aria-hidden="true"></i>
              <span class="site-menu-title">Tasks</span>
              <span class="site-menu-arrow"></span>
            </a>
          </li>
          <li class="site-menu-item has-sub">
            <a href="<%= emails_path %>">
              <i class="site-menu-icon md-apps" aria-hidden="true"></i>
              <span class="site-menu-title">Emails</span>
              <span class="site-menu-arrow"></span>
            </a>
          </li>
					<li class="site-menu-item has-sub">
						<a href="<%= files_path %>">
							<i class="site-menu-icon md-apps" aria-hidden="true"></i>
							<span class="site-menu-title">Files</span>
							<span class="site-menu-arrow"></span>
						</a>
					</li>
          <li class="site-menu-item has-sub">
            <a href="<%= activities_path %>">
              <i class="site-menu-icon md-apps" aria-hidden="true"></i>
              <span class="site-menu-title">Activities</span>
              <span class="site-menu-arrow"></span>
            </a>
          </li>
          <li class="site-menu-category">PROJECTS</li>

          <li class="site-menu-item has-sub">
            <a href="/projects">
              <i class="site-menu-icon md-apps" aria-hidden="true"></i>
              <span class="site-menu-title">Manage Projects</span>
              <span class="site-menu-arrow"></span>
            </a>
          </li>

          <li class="site-menu-item has-sub">
            <a href="<%= export_projects_path %>">
              <i class="site-menu-icon md-apps" aria-hidden="true"></i>
              <span class="site-menu-title">Exports Project Data</span>
              <span class="site-menu-arrow"></span>
            </a>
          </li>

          <li class="site-menu-category">COMPANIES AND ACTIVITIES</li>
          <li class="site-menu-item has-sub">
            <a href="/companies">
              <i class="site-menu-icon md-apps" aria-hidden="true"></i>
              <span class="site-menu-title">Manage Company Records</span>
              <span class="site-menu-arrow"></span>
            </a>
          </li>

          <li class="site-menu-item has-sub">
            <a href="javascript:void(0)">
              <i class="site-menu-icon md-apps" aria-hidden="true"></i>
              <span class="site-menu-title">Exports Company Data</span>
              <span class="site-menu-arrow"></span>
            </a>
          </li>

          <li class="site-menu-category">SITES AND BUILDINGS</li>
          <li class="site-menu-item has-sub">
            <a href="<%= sites_path %>">
              <i class="site-menu-icon md-apps" aria-hidden="true"></i>
              <span class="site-menu-title">Manage Sites/ Buildings</span>
              <span class="site-menu-arrow"></span>
            </a>
          </li>

          <li class="site-menu-item has-sub">
            <a href="javascript:void(0)">
              <i class="site-menu-icon md-apps" aria-hidden="true"></i>
              <span class="site-menu-title">LOIS Import</span>
              <span class="site-menu-arrow"></span>
            </a>
          </li>

          <li class="site-menu-item has-sub">
            <a href="javascript:void(0)">
              <i class="site-menu-icon md-apps" aria-hidden="true"></i>
              <span class="site-menu-title">Excel Import</span>
              <span class="site-menu-arrow"></span>
            </a>
          </li>
          <li class="site-menu-category">CONTACTS</li>
          <li class="site-menu-item has-sub">
            <a href="<%= contacts_path %>">
              <i class="site-menu-icon md-apps" aria-hidden="true"></i>
              <span class="site-menu-title">Manage Contacts</span>
              <span class="site-menu-arrow"></span>
            </a>
          </li>

        </ul>

      </div>
    </div>
  </div>
</div>

