<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'breakpoints.js' %>
  <script>
      Breakpoints();
  </script>
</head>

<% if current_user %>
    <body class="animsition site-menubar-unfold" style="animation-duration: 800ms; opacity: 1;">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/sidenav' %>

    <div class="page">
      <div class="page-content container-fluid">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>
    <%= render 'layouts/javascript_theme' %>
    </body>
<% else %>
    <%= render 'layouts/sign_up/navbar' %>
    <body class="static_html_body">
    <%= yield %>
    </body>
<% end %>
</html>
