<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<% if current_user %>
    <body class="animsition theme-body site-menubar-unfold" style="animation-duration: 800ms; opacity: 1;">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/sidenav' %>
    <div class="page">
      <div class="page-content container-fluid">
        <div class="flashMessages"><%= render partial: 'shared/flash_messages' %></div>
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>
    <%= render 'layouts/javascript_theme' %>
    </body>
<% else %>
    <%= render 'layouts/sign_up/navbar' %>
    <body class="static_html_body">
    <%= yield %>
    </body>
<% end %>
</html>
